@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Helpers;

@model  BaseContent

@{
    var actionNameDelete = "Delete";
    var actionNameEdit = "SaveOrEdit";
    var controllerName = "";

    if (Model is Product)
    {
        Product product = (Product)Model;
        controllerName = "Products";
    }
    else if (Model is Story)
    {
        Story item = (Story)Model;
        controllerName = "Stories";
    }
    else if (Model is Menu)
    {
        Menu item = (Menu)Model;
        controllerName = "Menus";
    }
    else if (Model is StoryCategory)
    {
        StoryCategory item = (StoryCategory)Model;
        controllerName = "StoryCategories";
    }
    else if (Model is ProductCategory)
    {
        ProductCategory item = (ProductCategory)Model;
        controllerName = "ProductCategories";
    }

    int Width = ViewData["Width"].ToInt(150);
    int Height = ViewData["Height"].ToInt(0);
    var baseContent = Model;

}

<div class="row">
    <div class="col-md-1">

        @if (baseContent.MainImageId > 0)
        {
            <img src="@Html.Raw(baseContent.MainImage.GetAdminCroppedImageUrl(Width, Height))" />
        }

    </div>
    <div class="col-md-5">

        <div class="row">
            <div class="col-md-3">
                <b>
                    @Html.DisplayFor(model => baseContent.Name)
                </b>
            </div>
            <div class="col-md-1">

                @Html.ActionLink("Edit", actionNameEdit, controllerName, new { id = baseContent.Id }, new { @class = "btn btn-primary btn-sm     glyphicon glyphicon-pencil glyphicon-white", @target = "_blank" })
            </div>
            <div class="col-md-1">
                @if (UserRoleHelper.IsDeletedEnableRoles())
            {
                    @Html.ActionLink("Delete", actionNameDelete, controllerName, new { id = baseContent.Id }, new { @class = "btn btn-danger btn-sm    glyphicon glyphicon-trash glyphicon-white", @target = "_blank" })
                }
            </div>
            <div class="col-md-3">
                @GeneralHelper.GetDescription(baseContent.Description, 200)
            </div>
        </div>


    </div>
</div>


