@using EImece.Domain.Helpers
<!doctype html>
<html ⚡>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta property="og:description" content="Accelerated Mobile Pages Project">
  <meta name="amp-experiments-opt-in" content="">
    @{
    String seoId = (String)ViewBag.SeoId;
}

@Html.Raw(SeoUrlHelper.GetCanonicalTag(this.ViewContext,seoId))

  <title>@ViewBag.Title</title>

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>

    @RenderSection("delayed_head", false)
   @RenderSection("top_head", false)

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

<style  amp-custom>
    BODY, HTML {
            font-family: Verdana,Geneva,sans-serif;
        }
    body {
        padding-top:10px;
    }
    main {
        margin:0 auto;
        max-width:800px;
    }
    p.meta {
        font-style:italic;
    }
        figcaption {
            font-style: italic;
            font-size:80%;
        }
        main>p, main>div, main>h2 {
            margin:1rem 0;
        }
        figure {
            margin: 1rem 0;
            padding: 0;
        }
        figure>figcaption{
            padding: .5rem 1rem;
        }
        .amp-ad-container {
            display: flex;
            flex-wrap: wrap;
        }
        amp-ad {
            margin: 5px auto;
        }

        .carousel .slide > amp-img > img {
            object-fit: contain;
        }
        .heading {
            padding-bottom: 8px;
        }
        .heading h1 {
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 1rem;
        }
        .heading > #summary {
            font-weight:bold;
        }
        .heading > small {
            color: #656565;
        }

        .sharing {
            text-align: right;
        }

        .related {
            background-color: #f5f5f5;
            margin: 1rem 0;
            display: flex;
            color: #111;
            padding: 0;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px -1px rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            text-decoration: none;
        }
        .related > span {
            font-weight: bold;
            margin: 8px;
        }
            .related amp-img {
                flex-shrink: 0;
            }
        .related:hover {
            background-color: #ccc;
        }
        .carousel-preview button {
            padding:0;
            border:0;
            margin: 4px;
            padding: 0;
        }

        amp-lightbox figcaption {
            color:white;
        }
        figure figcaption {
            position: absolute;
            bottom:0;
            left:0;
            right: 0;
            background: rgba(0,0,0,0.65);
            color: #ffffff;
        }
        figure {
            position: relative;
        }
        #logo {
            display: block;
            margin:0 auto;
            background-color: white;
        }
        [amp-img-id="logo"] {
            background: #ffffff;
        }

        .carousel-preview {
            text-align: center;
        }
        .author {
            font-style: italic;
        }

        amp-lightbox {
            padding:5px;
            background-color: rgba(0,0,0,0.65);
        }

    amp-carousel button {
        display:inline-block;
    }
</style>
</head>
<body>

    <div>
        <a href="https://www.google.com/">
            <amp-img
                    src="https://www.blog.google/images/download/DvujqGIr46dew-phGARpDy8bMSQ=/1095/original/Google_Logo.png"
                    width="300"
                    height="66"
                    id="logo"
                    alt="logo"
            ></amp-img>
        </a>
    </div>

    <main>
        @RenderBody()
    </main>
</body>
</html>