@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Helpers;

@model  BaseContent

@{
    var gridEditText = AdminResource.GridEditText;
    var gridDeleteText = AdminResource.GridDeleteText;
    var actionNameDelete = "Delete";
    var actionNameEdit = "SaveOrEdit";
    var controllerName = "";
    string itemTypeName = "";
    var baseContent = Model;
    int Width = ViewData["Width"].ToInt(150);
    int Height = ViewData["Height"].ToInt(0);

    if (Model is Product)
    {
        Product product = (Product)Model;
        controllerName = "Products";
        itemTypeName = AdminResource.Product;
    }
    else if (Model is Story)
    {
        Story item = (Story)Model;
        controllerName = "Stories";
        itemTypeName = AdminResource.Story;
    }
    else if (Model is Menu)
    {
        Menu item = (Menu)Model;
        controllerName = "Menus";
        itemTypeName = AdminResource.Menu;
    }
    else if (Model is StoryCategory)
    {
        StoryCategory item = (StoryCategory)Model;
        controllerName = "StoryCategories";
        itemTypeName = AdminResource.StoryCategory;
    }
    else if (Model is ProductCategory)
    {
        ProductCategory item = (ProductCategory)Model;
        controllerName = "ProductCategories";
        itemTypeName = AdminResource.ProductCategory;
    }
}

<article class="search-result row">
    <div class="col-xs-12 col-sm-12 col-md-3">

        @if (baseContent.MainImageId > 0)
        {
            <img src="@Html.Raw(baseContent.MainImage.GetAdminCroppedImageUrl(Width, Height))" />
        }
        else
        {
            @AdminResource.GridNoMainPageImageText

        }
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
            <li><i class="glyphicon glyphicon-calendar"></i> <span>@baseContent.UpdatedDate.ToShortDateString()</span></li>
            <li><i class="glyphicon glyphicon-tags"></i> <span>@itemTypeName</span></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
        <h3>
            <span class="searchItemTitle">
                @if (baseContent is Product)
                {
                    @Html.DisplayFor(item => baseContent, "BaseContentSearchItem")
                }
                else
                {
                    @Html.DisplayFor(model => baseContent.Name)
                }
            </span>

            @Html.ActionLink(gridEditText, actionNameEdit, controllerName, new { id = baseContent.Id }, new { @class = "btn btn-link    ", @target = "_blank" })

            @if (UserRoleHelper.IsDeletedEnableRoles())
            {
                <span>
                    @Html.Partial("pDeleteModal", new ViewDataDictionary(ViewData) {
               { "ItemId", baseContent.Id },
               {"controllerName",controllerName},
                {"actionName",actionNameDelete},
               { "DeleteIcon", "gridBtn btn btn-danger btn-xs glyphicon  glyphicon-remove-circle" },
               { "ItemDescription", baseContent.Name } })
                </span>

            }
        </h3>
        <p>
            @GeneralHelper.GetDescription(baseContent.Description, 200)
        </p>
    </div>
    <span class="clearfix borda"></span>
</article>