@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Helpers;

@model  BaseContent

@{
    var gridEditText = AdminResource.GridEditText;
    var gridDeleteText = AdminResource.GridDeleteText;
    var actionNameDelete = "Delete";
    var actionNameEdit = "SaveOrEdit";
    var controllerName = "";
    string itemTypeName = "";
    var baseContent = Model;
    int Width = ViewData["Width"].ToInt(150);
    int Height = ViewData["Height"].ToInt(0);

    if (Model is Product)
    {
        Product product = (Product)Model;
        controllerName = "Products";
        itemTypeName = AdminResource.Product;
    }
    else if (Model is Story)
    {
        Story item = (Story)Model;
        controllerName = "Stories";
        itemTypeName = AdminResource.Story;
    }
    else if (Model is Menu)
    {
        Menu item = (Menu)Model;
        controllerName = "Menus";
        itemTypeName = AdminResource.Menu;
    }
    else if (Model is StoryCategory)
    {
        StoryCategory item = (StoryCategory)Model;
        controllerName = "StoryCategories";
        itemTypeName = AdminResource.StoryCategory;
    }
    else if (Model is ProductCategory)
    {
        ProductCategory item = (ProductCategory)Model;
        controllerName = "ProductCategories";
        itemTypeName = AdminResource.ProductCategory;
    }
}

<article class="search-result row">
    <div class="col-xs-12 col-sm-12 col-md-2">

        @if (baseContent.MainImageId > 0)
        {
            <img src="@Html.Raw(baseContent.MainImage.GetAdminCroppedImageUrl(Width, Height))" />
        }
        else
        {
            @AdminResource.GridNoMainPageImageText

        }
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
            <li><i class="glyphicon glyphicon-calendar"></i> <span>@baseContent.UpdatedDate.ToShortDateString()</span></li>
            <li><i class="glyphicon glyphicon-tags"></i> <span>@itemTypeName</span></li>
            <li>
                <i class="glyphicon glyphicon-edit"></i>   @Html.ActionLink(gridEditText, actionNameEdit, controllerName,
new { id = baseContent.Id }, new { @class = "  ", @target = "_blank" })
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-7 excerpet">
        <span class="searchItemTitle">
            @if (baseContent is Product)
            {
                var p = (Product)baseContent;
                @Html.Partial("BaseContentSearchItem/ProductSearchItem", p)
            }
            else
            {
                @Html.DisplayFor(model => baseContent.Name)
            }
        </span>
        <dl>
            @if (!string.IsNullOrEmpty(baseContent.Description))
            {
                <dt>
                    @Html.DisplayNameFor(model => baseContent.Description)
                </dt>
                <dd>
                    @GeneralHelper.GetDescription(baseContent.Description, 300)
                </dd>
            }
        </dl>

    </div>
    <span class="clearfix borda"></span>
</article>