@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@model EImece.Domain.Models.FrontModels.ProductDetailViewModel
@using Resources;
    @{
        var categories = Model.BreadCrumb;
      

    }
<h2>
    @Model.Product.Name
</h2>
    <nav id="breadcrumbs">
        <ul>
            <li>@Html.ActionLink(Resource.MainPage, "Index", "Home")</li>
            <li>@Html.ActionLink(Resource.Products, "Index", "Products")</li>
            @for(int i=categories.Count()-1; i >= 0; i--)
            {
                var category = categories[i];
                <li>
                    @Html.ActionLink(category.Text, 
                   "Category", 
                   "ProductCategories",
                   new { id = category.ProductCategory.GetSeoUrl() }, new { @class = "btn btn-link" })
                </li>
            }
            <li>
                @Model.Product.Name
            </li>
        </ul>

    </nav>