@model EImece.Domain.Models.FrontModels.ProductDetailViewModel
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;

@{
    var product = Model.Product;
    ViewBag.Title = product.GetSeoTitle();
    ViewBag.Description = product.GetSeoDescription();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productFiles = product.ProductFiles.ToList();
    var productTags = product.ProductTags.Select(r => r.Tag).ToList();
    var productCategory = product.ProductCategory;
    var productSpecs = product.ProductSpecifications;
    var relatedStories = Model.RelatedStories;
}

<h2>@product.Name</h2>
<h4>
    @product.ProductCategory.Name
</h4>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        @Html.Raw(product.GetCroppedImageTag(400, 250))
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <p>
                @Html.Raw(product.Description)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @product.Discount
        </div>
        <div class="col-md-2">
            @product.Price
        </div>
        <div class="col-md-2">
            @product.ProductCode
        </div>
    </div>


    @for (int i = 0; i < productFiles.Count; i++)
    {
        var f = productFiles[i];
        bool renderRow = i % 4 == 0 ? true : false;

        if (renderRow)
        {
            @: <div class="row  text-center">
                }

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                @Html.Raw(f.GetCroppedImageTag(f.FileStorageId, 70, 70))
                <div class="caption">

                </div>
            </div>
        </div>

        if (renderRow)
        {
            @:      </div>
        }
    }


</div>




@if (productSpecs.Any())
{
    <h3>
        Product Specs
    </h3>
    foreach (var pt in productSpecs)
    {
        <div>
            @String.Format("{0} -{1}", pt.Name, pt.Value)
        </div>
    }
}

@foreach (var pt in productTags)
{
    <div>
        @Html.ActionLink(pt.Name, "tag", "products", new { id = pt.GetSeoUrl() }, null)
    </div>
}

@if (relatedStories.Any())
{
    <h3>
        Related Stories
    </h3>
    foreach (var rs in relatedStories)
    {
        @Html.DisplayFor(r => rs, "StoryShort")
    }
}

