@model EImece.Domain.Models.FrontModels.ProductDetailViewModel
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;

@{
    var product = Model.Product;
    var isUserAuthenticated = User.Identity.IsAuthenticated;
    ViewBag.Title = product.GetSeoTitle();
    ViewBag.Description = product.GetSeoDescription();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productFiles = product.ProductFiles.ToList();
    var productTags = product.ProductTags.Select(r => r.Tag).ToList();
    var productCategory = product.ProductCategory;
    var productSpecs = product.ProductSpecifications;
    var relatedStories = Model.RelatedStories;
    var productMainImageId = product.MainImageId.HasValue ? product.MainImageId.Value : 0;
}



<div class="container">

    <!-- Slider
    ================================================== -->
    <div class="eight columns">
        <div class="slider-padding">
            <div id="product-slider" class="royalSlider rsDefault">
                @if (product.ImageState)
                {

                    <img class="rsImg" src="@product.GetCroppedImageUrl(productMainImageId, 454, 513)" data-rsTmb="@product.GetCroppedImageUrl(productMainImageId, 95,105)" alt="" />

                }
           
                   @for (int i = 0; i < productFiles.Count; i++)
                {
                    var f = productFiles[i];
                    <img class="rsImg" src="@f.GetCroppedImageUrl(f.FileStorageId, 454, 513)" data-rsTmb="@f.GetCroppedImageUrl(f.FileStorageId, 95,105)" alt="" />
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="eight columns">
        <div class="product-page">

            <!-- Headline -->
            <section class="title">
                <h2>@product.Name</h2>
                @if (isUserAuthenticated)
                {
                    @Html.ActionLink("edit","saveoredit","Products",new { @id=product.Id, @area="admin" },new {  })
                }
                <h4>
                    @product.ProductCategory.Name
                </h4>
                <span class="product-price-discount">@String.Format("${0}", product.Price)<i>@String.Format("${0}", product.GetProductPrice())</i></span>

                <div class="reviews-counter">
                    <div class="rating five-stars">
                        <div class="star-rating"></div>
                        <div class="star-bg"></div>
                    </div>
                    <span>3 Reviews</span>
                </div>
            </section>

            <!-- Text Parapgraph -->
            <section>
                <p class="margin-reset">
                    @Html.Raw(product.Description)
                </p>
                <!-- Share Buttons -->
                <div class="share-buttons">
                    <ul>
                        <li><a href="#">Share</a></li>
                        <li class="share-facebook"><a href="#">Facebook</a></li>
                        <li class="share-twitter"><a href="#">Twitter</a></li>
                        <li class="share-gplus"><a href="#">Google Plus</a></li>
                        <li class="share-pinit"><a href="#">Pin It</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>

            </section>




        </div>
    </div>

</div>


<div class="container">
    <div class="sixteen columns">
        <!-- Tabs Navigation -->
        <ul class="tabs-nav">
            <li class="active"><a href="#tab1">Item Description</a></li>
            <li><a href="#tab2">Additional Information</a></li>
            <li><a href="#tab3">Reviews <span class="tab-reviews">(3)</span></a></li>
        </ul>

        <!-- Tabs Content -->
        <div class="tabs-container">

            <div class="tab-content" id="tab1">
                <p>
                    @Html.Raw(product.Description)
                </p>
            </div>

            <div class="tab-content" id="tab2">


                @Html.Partial("_ProductSpecs", Model)


            </div>

            <div class="tab-content" id="tab3">

                <!-- Reviews -->
                <section class="comments">

                    <ul>
                        <li>
                            <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                            <div class="comment-content">
                                <div class="arrow-comment"></div>
                                <div class="comment-by">
                                    <strong>John Doe</strong><span class="date">May 28, 2014</span>
                                    <div class="rating five-stars"><div class="star-rating"></div><div class="star-bg"></div></div>
                                </div>
                                <p>Maecenas dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget just.</p>
                            </div>
                        </li>

                        <li>
                            <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                            <div class="comment-content">
                                <div class="arrow-comment"></div>
                                <div class="comment-by">
                                    <strong>Kathy Brown</strong><span class="date">May 18, 2014</span>
                                    <div class="rating five-stars"><div class="star-rating"></div><div class="star-bg"></div></div>
                                </div>
                                <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
                            </div>
                        </li>

                        <li>
                            <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                            <div class="comment-content">
                                <div class="arrow-comment"></div>
                                <div class="comment-by">
                                    <strong>John Doe</strong><span class="date">May 10, 2014</span>
                                    <div class="rating four-stars"><div class="star-rating"></div><div class="star-bg"></div></div>
                                </div>
                                <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                            </div>

                        </li>
                    </ul>

                    <a href="#small-dialog" class="popup-with-zoom-anim button color">Add Review</a>

                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                        <h3 class="headline">Add Review</h3><span class="line margin-bottom-25"></span><div class="clearfix"></div>

                        <!-- Form -->
                        <form id="add-comment" class="add-comment">
                            <fieldset>

                                <div>
                                    <label>Name:</label>
                                    <input type="text" value="" />
                                </div>

                                <div>
                                    <label>Rating:</label>
                                    <span class="rate">
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="margin-top-20">
                                    <label>Email: <span>*</span></label>
                                    <input type="text" value="" />
                                </div>

                                <div>
                                    <label>Review: <span>*</span></label>
                                    <textarea cols="40" rows="3"></textarea>
                                </div>

                            </fieldset>

                            <a href="#" class="button color">Add Review</a>
                            <div class="clearfix"></div>

                        </form>
                    </div>

                </section>

            </div>

        </div>
    </div>
</div>






@foreach (var pt in productTags)
{
    <div>
        @Html.ActionLink(pt.Name, "tag", "products", new { id = pt.GetSeoUrl() }, null)
    </div>
}

@if (relatedStories.Any())
{
    <h3>
        Related Stories
    </h3>
    foreach (var rs in relatedStories)
    {
        @Html.DisplayFor(r => rs, "StoryShort")
    }
}

