@model EImece.Domain.Models.FrontModels.ProductDetailViewModel
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;

@{
    var product = Model.Product;
    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
    ViewBag.Title = product.GetSeoTitle();
    ViewBag.Description = product.GetSeoDescription();
    ViewBag.Keywords = product.GetSeoKeywords();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productFiles = product.ProductFiles.ToList();
    var productTags = product.ProductTags.Select(r => r.Tag).ToList();
    var productCategory = product.ProductCategory;
    var productSpecs = product.ProductSpecifications;
    var relatedStories = Model.RelatedStories.OrderBy(x => Guid.NewGuid()).Take(1).ToList();
    var relatedProducts = Model.RelatedProducts.OrderBy(x => Guid.NewGuid()).Take(4).ToList();
    var productMainImageId = product.MainImageId.HasValue ? product.MainImageId.Value : 0;
}

<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            @Html.Partial("_ProductBreadCrumb", Model)
        </div>
    </div>
</section>

<div class="container">

    <!-- Slider
    ================================================== -->
    <div class="eight columns">
        <div class="slider-padding">
            <div id="product-slider" class="royalSlider rsDefault">

                @if (product.ImageState)
                {

                    <img class="rsImg" src="@product.GetCroppedImageUrl(productMainImageId, 454, 513)" data-rsTmb="@product.GetCroppedImageUrl(productMainImageId, 95,105)" alt="" />

                }

                @for (int i = 0; i < productFiles.Count; i++)
                {
                    var f = productFiles[i];
                    <img class="rsImg" src="@f.GetCroppedImageUrl(f.FileStorageId, 454, 513)" data-rsTmb="@f.GetCroppedImageUrl(f.FileStorageId, 95,105)" alt="" />
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Content
    ================================================== -->
    <div class="six columns">
        <div class="product-page">

            <!-- Headline -->
            <section class="title">
                <h2>
                    @product.Name
                </h2>
                <div><b>@product.ProductCode</b></div>
                @if (isUserAuthenticated)
                {
                    @Html.ActionLink(Resource.AdminEdit, "saveoredit", "Products", new { @id = product.Id, @area = "admin" }, new { @class = "adminPageLink", @target = "_blank" })
                }
                <h4>
                    @product.ProductCategory.Name
                </h4>

                <section class="linking">
                    @using (Html.BeginForm("AddToCart", "Payment", FormMethod.Post, new { id = "add-to-cart-form" }))
                    {

                        <div class="qtyminus"></div>
                        <input type="hidden" name="productId" value="@product.Id">
                        <input type="text" name="quantity" value="1" class="qty">
                        <div class="qtyplus"></div>
                        <a href="#" onclick="document.getElementById('add-to-cart-form').submit();" class="button adc">Add to Cart</a>
                        <div class="clearfix"></div>
                    }


                    <span class="product-price-discount">@String.Format("${0}", product.Price)<i>@String.Format("${0}", product.GetProductPrice())</i></span>
                    @if (!String.IsNullOrEmpty(product.ProductCode))
                    {
                        <span class="product-code">
                            <i>
                                @Resource.ProductCodeNo @product.ProductCode
                            </i>
                        </span>
                    }
                    @Html.Raw(product.ShortDescription)
                </section>

                <!-- Text Parapgraph -->
                <section>
                    <p class="margin-reset">

                        @Html.Partial("_ProductSpecs", Model)
                    </p>
                    <!-- Share Buttons -->
                    <div class="share-buttons">

                        @Html.Partial("_SocialMediaShareLinks", new ViewDataDictionary(ViewData){
                                  {"DataUrl",Request.Url.AbsoluteUri.ToString()}, {"DataTitle",product.Name  } })
                    </div>
                    <div class="clearfix"></div>
                </section>
</div>
    </div>
    <div class="two columns">
        @if (productTags.Count > 0)
            {

        <!-- Tags -->
            <div class="widget margin-top-10">
                <h3 class="headline">@Resource.Tags</h3><span class="line"></span><div class="clearfix"></div>

                <nav class="tags">
                    @foreach (var t in productTags)
                {
                        @Html.ActionLink(t.Name, "Tag", "products", new { id = t.GetSeoUrl() },null)
                    }
                </nav>
            </div>

                <br>
                <br>

        }
    </div>
</div>

<div class="container">
    <div class="sixteen columns">
        <!-- Tabs Navigation -->
        <ul class="tabs-nav">
            <li class="active">   <a href="#tab1">@Resource.ProductsInfo</a></li>
            <li><a href="#tab2"> @Resource.TechnicalPictures </a></li>
            <li><a href="#tab3">  @Resource.WantMoreInfoAboutProduct</a></li>
        </ul>

        <!-- Tabs Content -->
        <div class="tabs-container">

            <div class="tab-content" id="tab1">
                <p>
                    @Html.Raw(product.Description)
                </p>
            </div>

            <div class="tab-content" id="tab2">
            </div>

            <div class="tab-content" id="tab3">

                <!-- Contact Form -->
                <section id="contact">
                    <!-- Success Message -->
                    <!-- Form -->

                    @Html.Partial("_ContactUsFormViewModel", Model.Contact)
                    <br />
                    <br />
                    <div id="result"></div>

                    <div class="clearfix"></div>
                </section>

                <!-- Contact Form / End -->
            </div>
        </div>
    </div>
</div>

@if (relatedProducts.Any())
{

    <div class="container margin-top-15">
        <div class="sixteen columns products">

            <h3 class="headline"> @Resource.SimilairProducts</h3>
            <span class="line margin-bottom-0"></span>

            @foreach (var product2 in relatedProducts)
            {
                @Html.DisplayFor(modelItem => product2, "MainPageProduct", new { Width = 273 })
            }
        </div>
    </div>
}
<br />
<br />
<br />
 <!-- Container -->
<div class="container">

    @if (relatedStories.Any())
    {
        <div class="container margin-top-15">
            <div class="sixteen columns products">

                <h3 class="headline">
                    @Resource.RelatedBlogsForProducts
                </h3>
                <span class="line margin-bottom-0"></span>

                @foreach (var story in relatedStories)
                {
                    @Html.DisplayFor(modelItem => story, "Story", new { Width = 80, Height = 80 })
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}