@using EImece.Domain;
@model Dictionary<String, String>
@using System.Threading;

@{
    var dic = Model;
    var countryCode = Thread.CurrentThread.CurrentUICulture.ToString();
}
<!-- social bar  -->
<div class="d-flex flex-nowrap">
    @if (ContainsValue(dic, Constants.LinkedinWebSiteLink))
    {
        <a class="social-btn sb-linkedin sb-light sb-sm ml-2" href="@dic[Constants.LinkedinWebSiteLink]">
            <i class="flaticon-linkedin"></i><span class="sr-only">Linkedin</span>
        </a>
    }
    @if (ContainsValue(dic, Constants.FacebookWebSiteLink))
    {
        <a class="social-btn sb-facebook sb-light sb-sm ml-2" href="@dic[Constants.FacebookWebSiteLink]">
            <i class="flaticon-facebook"></i><span class="sr-only">Facebook</span>
        </a>
    }
    @if (ContainsValue(dic, Constants.TwitterWebSiteLink))
    {
        <a class="social-btn sb-twitter sb-light sb-sm ml-2" href="@dic[Constants.TwitterWebSiteLink]">
            <i class="flaticon-twitter"></i><span class="sr-only">Twitter</span>
        </a>
    }

    @if (ContainsValue(dic, Constants.InstagramWebSiteLink))
    {
        <a class="social-btn sb-instagram sb-light sb-sm ml-2" href="@dic[Constants.InstagramWebSiteLink]">
            <i class="flaticon-instagram"></i><span class="sr-only">Instagram</span>
        </a>
    }
    @if (ContainsValue(dic, Constants.PinterestWebSiteLink))
    {

        <a class="social-btn sb-pinterest sb-light sb-sm ml-2" href="@dic[Constants.PinterestWebSiteLink]">
            <i class="flaticon-pinterest"></i><span class="sr-only">Pinterest</span>
        </a>
    }
</div>
@functions {

    public static bool ContainsValue(Dictionary<String, String> dic, String key)
    {
        return dic.ContainsKey(key) && !string.IsNullOrEmpty(dic[key]);
    }
}