@using System.Xml;
@using System.Linq;
@using System.Text;
@using System.Xml.Linq;
@using EImece.Domain.Entities;
@using EImece.Domain.Services.IServices;

@model ProductSpecification

@{
    var field = Model.FieldFormat;
    var name = field.Attribute("name");
    var unit = field.Attribute("unit");
    var values = field.Attribute("values");
    var display = field.Attribute("display");
    var dbValue = Model.Value;
    String valueDisplayName = "";
    if (display != null)
    {
        valueDisplayName = display.Value;
    }
    else
    {
        valueDisplayName = name != null ? name.Value : "";
    }
}

<div class="form-group">
    <div class="col-md-2">
        @valueDisplayName
    </div>
    <div class="col-md-5">
        @if (values != null)
        {
            <select class="form-control" name="@name.Value">
                @{
                    var listService = DependencyResolver.Current.GetService<IListService>();
                    var list = listService.GetListByName(values.Value);
                    if (list != null)
                    {
                        foreach (var item in list.ListItems)
                        {
                            if (!String.IsNullOrEmpty(dbValue) && dbValue.Equals(item.Value.Trim(), StringComparison.InvariantCultureIgnoreCase))
                            {
                                <option value="@item.Value" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Name</option>
                            }
                        }
                    }
                    else
                    {

                        foreach (var v in values.Value.Split(",".ToCharArray()))
                        {
                            if (!String.IsNullOrEmpty(dbValue) && dbValue.Equals(v))
                            {
                                <option selected="selected">@v</option>
                            }
                            else
                            {
                                <option>@v</option>
                            }
                        }

                    }
                }
            </select>

                    }
    </div>
    <div class="col-md-1">
        @if (unit != null)
            {
            @unit.Value
        }
    </div>
</div>