@model EImece.Domain.Entities.Setting
@using Resources;

@{
    var saveButtonText = AdminResource.SaveButtonText;
    ViewBag.Title = "Terms And Conditions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@AdminResource.TermsConditions</h2>
<hr class="adminLine" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.UpdatedDate)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.Position)
        @Html.HiddenFor(model => model.SettingValue)
        @Html.HiddenFor(model => model.SettingKey)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @data_ckeditor_field = "TermsAndConditions", @style = "margin: 0px; width: 750px; height: 257px;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@saveButtonText" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(AdminResource.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}