@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.FrontModels;
@using Resources;
@using EImece.Domain;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Models;
@using EImece.Domain.Models.Enums;
@using System.Linq;

@model Tuple<ProductCategory, List<ProductCategoryTreeModel>>
@{
    var selectedProductCategory = Model.Item1;
    var productCategories = Model.Item2;
    bool isAnyMatched = false;
    foreach (var c in productCategories)
    {
        isAnyMatched = c.AllChildrens.Any(item => item.ProductCategory.Id.Equals(selectedProductCategory.Id));
        if (isAnyMatched)
        {
            break;
        }
    }


    string className = string.Format("{0}", parentProductCategory.ParentId == 0 ? "collapse" : "");
    if (isAnyMatched)
    {
        className = "collapse show";
    }
    else
    {
        className = "collapse";
    }

}

@if (productCategories.IsNotEmpty())
{
    <!-- Categories-->
    <div class="widget widget-categories mb-4 py-1">
        <h3 class="widget-title">@AdminResource.ProductCategories</h3>
        <ul id="shopCategories">
            @foreach (var p in productCategories)
            {
                var productCategory = p.ProductCategory;
                if (p.Childrens.IsNotEmpty())
                {
                    <li class="@String.Format("has-children")">
                        <a data-toggle="collapse" class="collapsed"
                           id="@string.Format("productCategory{0}",productCategory.Id)"
                           href="@string.Format("#shopCategories{0}",productCategory.Id)">
                            <i class="widget-categories-indicator" data-feather="chevron-down"></i>
                            @badgeProductNumber(p, selectedProductCategory)
                        </a>
                        @Html.Partial("_ProductCategoryTreeChildrenHeadLine", new Tuple<ProductCategory, ProductCategoryTreeModel>(selectedProductCategory, p))
                    </li>

                }
                else
                {

                    <li>
                        <a id="@string.Format("productCategory{0}",productCategory.Id)"
                           href="@productCategory.DetailPageUrl">
                            @badgeProductNumber(p, selectedProductCategory)
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
}

@helper badgeProductNumber(ProductCategoryTreeModel p, ProductCategory selectedProductCategory)
{

if (p.ProductCount > 0)
{
    if (selectedProductCategory.Id.Equals(p.ProductCategory.Id))
    {
            <b  class="text-dark">@p.ProductCategoryName <span class="badge text-muted ml-1">(@p.ProductCount)</span></b>
        }
        else
        {
            @p.ProductCategoryName <span class="badge text-muted ml-1">(@p.ProductCount)</span>
    }
}
else
{
    if (selectedProductCategory.Id.Equals(p.ProductCategory.Id))
    {
            <b class="text-dark">@p.ProductCategoryName</b>
        }
        else
        {
            @p.ProductCategoryName
        }
    }
}