@model EImece.Domain.Entities.Customer
@using Resources;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers.Extensions;
@{
    List<Order> orders = Model.Orders;
    var actionName = ViewContext.RouteData.GetRequiredString("action");
    if (orders.IsEmpty())
    {
        orders = new List<Order>();
    }
}

<!-- Customer details-->
<div class="d-flex flex-wrap pb-1">
    <div class="pt-3 mr-3">
        <h3 class="mb-0">@Model.FullName</h3>
        <span class="font-size-sm text-warning">
            @Model.Email
        </span>
    </div>

    <div class="pt-3 mr-3">
        <a class="btn btn-outline-primary btn-sm" href="@Url.Action("Index","Home",new { area = "" })">
            <i class="mr-1" data-feather="home"></i>  @Resource.ContinueShopping
            <span class="glyphicon glyphicon-log-out"></span>
        </a>
    </div>
    <div class="pt-3 mr-3">
        <a class="btn btn-outline-primary btn-sm" href="@Url.Action("ShoppingCart","Payment",new { area = "" })">
            <i class="mr-1" data-feather="shopping-bag"></i>  @Resource.MyBasket
            <span class="glyphicon glyphicon-log-out"></span>
        </a>
    </div>
    <div class="pt-3 mr-3">
        <a class="btn btn-outline-primary btn-sm" href="javascript:document.getElementById('logoutForm').submit()">
            <i class="mr-1" data-feather="log-out"></i>  @Resource.Logout <span class="glyphicon glyphicon-log-out"></span>
        </a>
        @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
</div>
<ul class="list-unstyled border p-3 mb-4">
    <li class="pb-1"><span class="opacity-80">&ndash; Katılım:</span><span class="font-weight-semibold ml-1">@Model.CreatedDate.ToString("dddd, dd MMMM yyyy HH:mm")</span></li>
    <li class="pb-1"><span class="opacity-80">&ndash; Toplam sipariş:</span><span class="font-weight-semibold ml-1">@orders.Count</span></li>
    <li class="pb-1">
        <span class="opacity-80">&ndash; Toplam harcama:</span><span class="font-weight-semibold ml-1">
            @orders.Sum(r => r.PaidPriceDecimal).CurrencySign()
        </span>
    </li>
</ul>
<!-- Navigation (visible sm-up)-->
<ul class="nav nav-tabs d-none d-sm-flex">
    <li class="nav-item">
        <a class="nav-link @String.Format("{0}",actionName.Equals("index",StringComparison.InvariantCultureIgnoreCase) ? "active" : "")" href="@Url.Action("Index","Home")">
            <i data-feather="settings"></i>&nbsp;@Resource.MyAccount
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @String.Format("{0}",actionName.Equals("ChangePassword",StringComparison.InvariantCultureIgnoreCase) ? "active" : "")" href="@Url.Action("ChangePassword","Home")">
            <i data-feather="lock"></i>&nbsp;@Resource.ChangePassword
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @String.Format("{0}",actionName.Equals("CustomerOrders",StringComparison.InvariantCultureIgnoreCase) ? "active" : "")" href="@Url.Action("CustomerOrders")">
            <i data-feather="shopping-bag"></i>&nbsp;@AdminResource.MyOrder<span class="badge badge-pill badge-secondary bg-0 border ml-2">
                <span class="text-primary">@orders.Count</span>
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @String.Format("{0}",actionName.Equals("SendMessageToSeller",StringComparison.InvariantCultureIgnoreCase) ? "active" : "")" href="@Url.Action("SendMessageToSeller")">
            <i data-feather="phone"></i>&nbsp;@Resource.SendMessageToSeller
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @String.Format("{0}",actionName.Equals("Faq",StringComparison.InvariantCultureIgnoreCase) ? "active" : "")" href="@Url.Action("Faq")">
            <i data-feather="info"></i>&nbsp;@Resource.Faq
        </a>
    </li>
</ul>
<!-- Navigation (visible sm-down)-->
<div class="d-sm-none pb-4">
    <button class="btn btn-primary btn-block mb-2" type="button" data-toggle="collapse" data-target="#account-menu">
        <i class="mr-2" data-feather="menu"></i>Menu
    </button>
    <div class="collapse" id="account-menu">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="@Url.Action("Index","Home")">
                <i data-feather="settings"></i>&nbsp;@Resource.MyAccount
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("ChangePassword","Home")">
                <i data-feather="lock"></i>&nbsp;@Resource.ChangePassword
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("CustomerOrders")">
                <i data-feather="shopping-bag"></i>&nbsp;@Resource.MyOrder<span class="badge badge-pill badge-secondary bg-0 border ml-2">
                    <span class="text-primary">@orders.Count</span>
                </span>
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("SendMessageToSeller")">
                <i data-feather="phone"></i>&nbsp;@Resource.SendMessageToSeller
            </a>
        </div>
    </div>
</div>