@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@using System.Threading;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Services.IServices;
@using Microsoft.AspNet.Identity;
@using System.Globalization;
@{
    var userName = User.Identity.GetUserName();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="mask-icon" color="#111" href="~/Content/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#111">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/Content/mstore/css/vendor.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" id="main-styles" href="~/Content/mstore/css/theme.min.css" />
    <!-- Customizer styles and scripts-->
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="fullscreen-container">
    <div class="navbar bg-dark py-2 px-0">
        <div class="container px-3">
            <!-- contact info-->
            <ul class="list-inline mb-0 d-none d-lg-inline-block">
                <li class="list-inline-item opacity-75 mr-2">
                    @Html.Action("WebSiteAddressInfo", "Home", new { isMobilePage = false })
                </li>
            </ul>
            <!-- links collapsed (moblie)-->
            <div class="dropdown d-inline-block d-lg-none">
                <a class="dropdown-toggle text-light opacity-75 font-size-sm py-1" href="#" data-toggle="dropdown">Useful links</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">About us</a><a class="dropdown-item" href="#">Help center</a><a class="dropdown-item" href="#">Delivery info</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="tel:00331697720"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone mr-2" style="width: 13px; height: 13px;"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>00 33 169 7720</a><a class="dropdown-item" href="mailto:info@example.com"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail mr-2" style="width: 13px; height: 13px;"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>info@example.com</a>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="~/Content/mstore/js/vendor.min.js"></script>
    <script src="~/Content/mstore/js/theme.min.js"></script>
    <script src="~/Scripts/cookie-consent.js?v=1"></script>
    @RenderSection("scripts", required: false)
</body>
</html>