@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@using System.Threading;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Services.IServices;
@using Microsoft.AspNet.Identity;
@using System.Globalization;
@{
    var userName = User.Identity.GetUserName();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="mask-icon" color="#111" href="~/Content/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#111">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/Content/mstore/css/vendor.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" id="main-styles" href="~/Content/mstore/css/theme.min.css" />
    <!-- Customizer styles and scripts-->

    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="fullscreen-container">

    <input type="hidden" id="CheckboxesDataTableDoesNotSelected" value="@AdminResource.CheckboxesDataTableDoesNotSelected" />
 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="~/Content/mstore/js/vendor.min.js"></script>
    <script src="~/Content/mstore/js/theme.min.js"></script>

    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="~/Scripts/cookie-consent.js?v=1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>