@using Resources;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.FrontModels;
@model FooterViewModel
@{
    var footerModel = Model;
    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;

}
<!-- Footer-->
<footer class="page-footer bg-dark">
    <!-- first row-->
    <div class="pt-5 pb-0 pb-md-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-links pb-4">
                        <h3 class="widget-title text-white border-light">@Resource.ProductCategories</h3>
                        <ul>
                            @foreach (var m in Model.ProductCategories)
                            {
                            <li>
                                <a class="nav-link-inline nav-link-light" href="@Url.Action("Category", "ProductCategories", new { id = m.GetSeoUrl() })">
                                    <i class="widget-categories-indicator" data-feather="chevron-right">
                                    </i><span class="font-size-sm">@m.Name</span>
                                </a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-links pb-4">
                        <h3 class="widget-title text-white border-light">Account &amp; shipping info</h3>
                        <ul>
                            <li><a class="nav-link-inline nav-link-light" href="@Url.Action("Login", "Account")"><i class="widget-categories-indicator" data-feather="chevron-right"></i><span class="font-size-sm">Your account</span></a></li>
                            <li><a class="nav-link-inline nav-link-light" href="#"><i class="widget-categories-indicator" data-feather="chevron-right"></i><span class="font-size-sm">Shipping rates &amp; policies</span></a></li>
                        </ul>
                    </div>
                    <div class="widget widget-links pb-4">
                        <h3 class="widget-title text-white border-light">About us</h3>
                        <ul>
                            <li><a class="nav-link-inline nav-link-light" href="#"><i class="widget-categories-indicator" data-feather="chevron-right"></i><span class="font-size-sm">Careers</span></a></li>
                            <li><a class="nav-link-inline nav-link-light" href="#"><i class="widget-categories-indicator" data-feather="chevron-right"></i><span class="font-size-sm">About shop</span></a></li>
                            <li><a class="nav-link-inline nav-link-light" href="#"><i class="widget-categories-indicator" data-feather="chevron-right"></i><span class="font-size-sm">Our stores</span></a></li>
                            <li><a class="nav-link-inline nav-link-light" href="#"><i class="widget-categories-indicator" data-feather="chevron-right"></i><span class="font-size-sm">Services</span></a></li>
                            <li><a class="nav-link-inline nav-link-light" href="#"><i class="widget-categories-indicator" data-feather="chevron-right"></i><span class="font-size-sm">News</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 offset-xl-1 col-md-5">
                    <div class="widget">
                        <!-- Subscription form (MailChimp)-->
                        <h3 class="widget-title text-white border-light">@Resource.StayInformed</h3>
                        @Html.Partial("_AddSubscriber")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop features-->
    <div class="pt-5 pb-0 pb-md-5 border-bottom border-light" id="shop-features" style="background-color: #1f1f1f;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 border-right border-light">
                    <div class="icon-box text-center mb-5 mb-md-0">
                        <div class="icon-box-icon"><i data-feather="truck"></i></div>
                        <h3 class="icon-box-title font-weight-semibold text-white">Free local delivery</h3>
                        <p class="icon-box-text">Free delivery for all orders over $100</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border-right border-light">
                    <div class="icon-box text-center mb-5 mb-md-0">
                        <div class="icon-box-icon"><i data-feather="refresh-cw"></i></div>
                        <h3 class="icon-box-title font-weight-semibold text-white">Money back guarantee</h3>
                        <p class="icon-box-text">Free delivery for all orders over $100</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 border-right border-light">
                    <div class="icon-box text-center mb-5 mb-md-0">
                        <div class="icon-box-icon"><i data-feather="life-buoy"></i></div>
                        <h3 class="icon-box-title font-weight-semibold text-white">24/7 customer support</h3>
                        <p class="icon-box-text">Friendly 24/7 customer support</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box text-center mb-5 mb-md-0">
                        <div class="icon-box-icon"><i data-feather="credit-card"></i></div>
                        <h3 class="icon-box-title font-weight-semibold text-white">Secure online payment</h3>
                        <p class="icon-box-text">We posess SSL / Secure сertificate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-3" style="background-color: #1a1a1a;">
        <div class="container font-size-xs text-center" aria-label="Copyright"><span class="text-white opacity-60 mr-1">© All rights reserved. Made by</span><a class="nav-link-inline nav-link-light" href="http://www.erayweb.com/" target="_blank">Erayweb</a></div>
    </div>
</footer>