<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@Html.Raw(((string)ViewBag.Description).Replace("\"", "'"))">
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @Html.Action("Menu", "Home")


                @Html.Partial("_LoginPartial")
                
            </div>
        </div>
    </nav>
    <div class="container body-content">
        
        
        <div class="row">
            <div class="col-md-12 text-center">
                @Html.Action("ProductTree", "Home")
                @Html.Partial("_SearchProductForm")
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        
        <hr />
        <footer>
            @Html.Partial("_Footer")
        
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
