@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain;
@using Resources;
@using Microsoft.AspNet.Identity
@using System.Threading;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.FrontModels;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewBag.Title)</title>
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@Html.Raw(((string)ViewBag.Description).Replace("\"", "'"))">
    }

    @if (!string.IsNullOrEmpty(ViewBag.Keywords))
    {
        <meta name="keywords" content="@Html.Raw(((string)ViewBag.Keywords).Replace("\"", "'"))">
    }
    @{
        String seoId = (String)ViewBag.SeoId;
    }
    @Html.Raw(SeoUrlHelper.GetCanonicalTag(this.ViewContext, seoId))
    @Html.Raw(SeoUrlHelper.GetCanonicalTag(this.ViewContext, seoId, "amp"))

    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/trizzy/css/style.css?v=1" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/trizzy/css/colors/blue.css" id="colors">
   
    @{
        String cultureName = Thread.CurrentThread.CurrentCulture.Name;
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems = EImece.Domain.Helpers.EnumHelper.ToSelectList3(cultureName);
        int selectedLang = 0;
        if (listItems.Count > 1)
        {
            selectedLang = EImece.Domain.Helpers.EnumHelper.GetEnumFromDescription(cultureName, typeof(EImeceLanguage));
        }
        else
        {
            // Just one language is activated.
            selectedLang = AppConfig.MainLanguage;
        }

    }
</head>
<body class="fullwidth">

    <div id="wrapper">

        <div id="top-bar">
            <div class="container">
                <div class="ten columns">
                    <div class="img-thumbnail flag flag-icon-background flag-icon-tr" title="tr" id="tr"></div>
                    @Html.Action("WebSiteAddressInfo", "Home")
                </div>
                <div class="six columns">
                    @if (listItems.Count() > 1)
                    {
                        foreach (var item in listItems)
                        {
                            @Html.ActionLink(item.Text, "SetLanguage", "Home", new { id = item.Value },null)
                        }
                    }

                    @Html.Action("SocialMediaLinks", "Home")
                </div>
            </div>
        </div>

        <!-- Header
        ================================================== -->
        <div class="container">


            <!-- Logo -->
            <div class="four columns">
                <div id="logo">
                    <h1></h1>
                </div>
                @Html.Action("WebSiteLogo", "Home")
            </div>

            <!-- Additional Menu -->
            <div class="twelve columns">
                <div id="additional-menu">
                    <ul>

                        @{Html.RenderAction("Menu", "Home", new { id = selectedLang }); }
                    </ul>
                </div>
            </div>

            <!-- Shopping Cart -->
            <div class="twelve columns">

                <!-- Search -->
                <nav class="top-search">
                    @Html.Partial("_SearchProductForm")
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="sixteen columns">
                <nav id="navigation">
                    @*@Html.Action("ProductTree", "Home")*@
                    @{Html.RenderAction("ProductTree", "Home", new { id = selectedLang }); }
                </nav>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>
        <footer>
            <div id="footer">
                @Html.Action("Footer", "Home")
            </div>
            <div id="footer-bottom">
                <!-- Container -->
                <div class="container">
                    <div class="eight columns">Design by <a href="http:\\www.erayweb.com"> erayweb </a> All Rights Reserved ©</div>
                </div>
            </div>
        </footer>
    </div>
    @Html.Raw(Html.Action("GoogleAnalyticsTrackingScript", "Home"))

    <!-- Java Script
    ================================================== -->
    @*<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script*@

    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/trizzy/scripts/jquery-2.1.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="~/Scripts/eimece.js?v=2"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.jpanelmenu.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/hoverIntent.js"></script>
    <script src="~/Scripts/trizzy/scripts/superfish.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.pureparallax.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.pricefilter.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.selectric.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.royalslider.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/SelectBox.js"></script>
    @*<script src="~/Scripts/trizzy/scripts/modernizr.custom.js"></script>*@
    <script src="~/Scripts/trizzy/scripts/waypoints.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.tooltips.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/trizzy/scripts/puregrid.js"></script>
    <script src="~/Scripts/trizzy/scripts/stacktable.js"></script>
    <script src="~/Scripts/trizzy/scripts/custom.js"></script>
    <script src="~/Scripts/cookie-consent.js"></script>

    @RenderSection("scripts", required: false)

    <script src="~/Scripts/cookie-consent.js?v=1"></script>
    <script>
        CookieConsent();
    </script>
</body>
</html>