@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain;
@using Resources;
@using System.Threading;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.FrontModels;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewBag.Title)</title>
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@Html.Raw(((string)ViewBag.Description).Replace("\"", "'"))">
    }

    @if (!string.IsNullOrEmpty(ViewBag.Keywords))
    {
        <meta name="keywords" content="@Html.Raw(((string)ViewBag.Keywords).Replace("\"", "'"))">
    }
    @{
        String seoId = (String)ViewBag.SeoId;

    }
    @Html.Raw(SeoUrlHelper.GetCanonicalTag(this.ViewContext, seoId))
    @Html.Raw(SeoUrlHelper.GetCanonicalTag(this.ViewContext, seoId, "amp"))

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" color="#111" href="~/Content/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#111">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/Content/mstore/css/vendor.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" id="main-styles" href="~/Content/mstore/css/theme.min.css" />
    <!-- Customizer styles and scripts-->

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Off-canvas account-->
    <div class="offcanvas offcanvas-reverse" id="offcanvas-account">
        <div class="offcanvas-header d-flex justify-content-between align-items-center">
            <h3 class="offcanvas-title">Sign in / Create account</h3>
            <button class="close" type="button" data-dismiss="offcanvas" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="offcanvas-body">
            <div class="offcanvas-body-inner">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#signin" data-toggle="tab" role="tab"><i data-feather="log-in"></i>&nbsp;Sign In</a></li>
                    <li class="nav-item"><a class="nav-link" href="#signup" data-toggle="tab" role="tab"><i data-feather="user"></i>&nbsp;Sign Up</a></li>
                </ul>
                <div class="tab-content pt-1">
                    <div class="tab-pane fade show active" id="signin" role="tabpanel">
                        <form class="needs-validation" novalidate>
                            <div class="form-group">
                                <label class="sr-only" for="signin-email">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="signin-email-icon"><i data-feather="mail"></i></span></div>
                                    <input class="form-control" type="email" id="signin-email" placeholder="Email" aria-label="Email" aria-describedby="signin-email-icon" required>
                                    <div class="invalid-feedback">Please provide email address.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="signin-password">Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="signin-password-icon"><i data-feather="lock"></i></span></div>
                                    <input class="form-control" type="password" id="signin-password" placeholder="Password" aria-label="Password" aria-describedby="signin-password-icon" required>
                                    <div class="invalid-feedback">Please enter a password.</div>
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" type="checkbox" id="remember-me" checked>
                                <label class="custom-control-label" for="remember-me">Remember me</label>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Sign In</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signup" role="tabpanel">
                        <form class="needs-validation" novalidate>
                            <div class="form-group">
                                <label class="sr-only" for="signup-name">Full name</label>
                                <input class="form-control" type="text" id="signup-name" placeholder="Full name" aria-label="Full name" required>
                                <div class="invalid-feedback">Please enter your full name.</div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="signup-email">Email address</label>
                                <input class="form-control" type="email" id="signup-email" placeholder="Email address" aria-label="Email address" required>
                                <div class="invalid-feedback">Please provide a valid email address.</div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="signup-password">Password</label>
                                <input class="form-control" type="password" id="signup-password" placeholder="Password" aria-label="Password" required>
                                <div class="invalid-feedback">Please enter a password.</div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="signup-password-confirm">Confirm password</label>
                                <input class="form-control" type="password" id="signup-password-confirm" placeholder="Confirm password" aria-label="Confirm password" required>
                                <div class="invalid-feedback">Please confirm password.</div>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                        </form>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-5">
                    <hr class="w-100">
                    <div class="px-3 w-100 text-nowrap font-weight-semibold">Or sign in via</div>
                    <hr class="w-100">
                </div>
                <div class="text-center pt-4"><a class="social-btn sb-facebook mx-2 mb-3" href="#" data-toggle="tooltip" title="Facebook"><i class="flaticon-facebook"></i></a><a class="social-btn sb-google-plus mx-2 mb-3" href="#" data-toggle="tooltip" title="Google"><i class="flaticon-google-plus"></i></a><a class="social-btn sb-twitter mx-2 mb-3" href="#" data-toggle="tooltip" title="Twitter"><i class="flaticon-twitter"></i></a></div>
            </div>
        </div>
    </div>
    <!-- Off-canvas cart-->
    <div class="offcanvas offcanvas-reverse" id="offcanvas-cart">
        <div class="offcanvas-header d-flex justify-content-between align-items-center">
            <h3 class="offcanvas-title">Your cart</h3>
            <button class="close" type="button" data-dismiss="offcanvas" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="offcanvas-body">
            <div class="offcanvas-body-inner">
                <div class="text-right"><a class="text-danger btn-sm pr-0" href="#"><i class="mr-1" data-feather="x" style="width: .85rem; height: .85rem;"></i>Clear cart</a></div>
                <div class="widget widget-featured-entries pt-3">
                    <div class="media">
                        <div class="featured-entry-thumb mr-3"><a href="#"><img src="img/shop/widget/07.jpg" width="64" alt="Product thumb"></a><span class="item-remove-btn"><i data-feather="x"></i></span></div>
                        <div class="media-body">
                            <h6 class="featured-entry-title"><a href="#">Calvin Klein Jeans Keds</a></h6>
                            <p class="featured-entry-meta">1 <span class='text-muted'>x</span> $125.00</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="featured-entry-thumb mr-3"><a href="#"><img src="img/shop/widget/08.jpg" width="64" alt="Product thumb"></a><span class="item-remove-btn"><i data-feather="x"></i></span></div>
                        <div class="media-body">
                            <h6 class="featured-entry-title"><a href="#">The North Face Hoodie</a></h6>
                            <p class="featured-entry-meta">1 <span class='text-muted'>x</span> $134.00</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="featured-entry-thumb mr-3"><a href="#"><img src="img/shop/widget/09.jpg" width="64" alt="Product thumb"></a><span class="item-remove-btn"><i data-feather="x"></i></span></div>
                        <div class="media-body">
                            <h6 class="featured-entry-title"><a href="#">Medicine Chameleon Sunglasses</a></h6>
                            <p class="featured-entry-meta">1 <span class='text-muted'>x</span> $47.00</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="featured-entry-thumb mr-3"><a href="#"><img src="img/shop/widget/10.jpg" width="64" alt="Product thumb"></a><span class="item-remove-btn"><i data-feather="x"></i></span></div>
                        <div class="media-body">
                            <h6 class="featured-entry-title"><a href="#">Adidas Performance Hat</a></h6>
                            <p class="featured-entry-meta">1 <span class='text-muted'>x</span> $19.00</p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center py-3">
                        <div class="font-size-sm"> <span class="mr-2">Subtotal:</span><span class="font-weight-semibold text-dark">$325.00</span></div><a class="btn btn-outline-secondary btn-sm" href="cart.html">Expand cart<i class="mr-n2" data-feather="chevron-right"></i></a>
                    </div><a class="btn btn-primary btn-sm btn-block" href="checkout-details.html"><i class="mr-1" data-feather="credit-card"></i>Checkout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Multilevel-->
    <!-- First line: Topbar-->
    <div class="navbar bg-dark py-2 px-0">
        <div class="container px-3">
            <!-- contact info-->
            <ul class="list-inline mb-0 d-none d-lg-inline-block">
                <li class="list-inline-item opacity-75 mr-2"><i class="text-light mr-2" data-feather="phone" style="width: 13px; height: 13px;"></i><a class="text-light font-size-sm py-1 pl-0 pr-2" href="tel:00331697720">00 33 169 7720</a></li>
                <li class="list-inline-item opacity-75 mr-2"><i class="text-light mr-2" data-feather="mail" style="width: 13px; height: 13px;"></i><a class="text-light font-size-sm py-1 pl-0 pr-2" href="mailto:info@example.com">info@example.com</a></li>
            </ul>
            <!-- links collapsed (moblie)-->
            <div class="dropdown d-inline-block d-lg-none">
                <a class="dropdown-toggle text-light opacity-75 font-size-sm py-1" href="#" data-toggle="dropdown">Useful links</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">About us</a><a class="dropdown-item" href="#">Help center</a><a class="dropdown-item" href="#">Delivery info</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="tel:00331697720"><i class="mr-2" data-feather="phone" style="width: 13px; height: 13px;"></i>00 33 169 7720</a><a class="dropdown-item" href="mailto:info@example.com"><i class="mr-2" data-feather="mail" style="width: 13px; height: 13px;"></i>info@example.com</a>
                </div>
            </div>
            <div class="d-flex">
                <!-- topbar menu-->
                <ul class="list-inline mb-0 d-none d-lg-block">
                    <li class="list-inline-item mr-2">
                        <a class="text-light font-size-sm opacity-75 py-1 pl-0 pr-2 border-right border-light" href="#">About us</a>
                    </li>
                    <li class="list-inline-item mr-2">
                        <a class="text-light font-size-sm opacity-75 py-1 pl-0 pr-2 border-right border-light" href="#">Help center</a>
                    </li>
                    <li class="list-inline-item mr-2">
                        <a class="text-light font-size-sm opacity-75 py-1 pl-0 pr-2" href="#">Delivery info</a>
                    </li>
                </ul>

                @Html.Action("SocialMediaLinks", "Home")

            </div>
        </div>
    </div>

    <!-- Second line-->
    <header class="navbar navbar-expand-lg navbar-light bg-light px-0">
        <div class="container flex-sm-nowrap px-3">
            <!-- navbar brand-->
            <a class="navbar-brand mr-0 mr-sm-4" style="min-width: 100px;" href="/">
                <img width="100" src="/images/logo.jpg" alt="MStore" />
            </a>
            <!-- navbar buttons-->
            <div class="navbar-btns d-flex position-relative order-sm-3">
                <div class="navbar-toggler navbar-btn collapsed bg-0 border-left-0 my-3"
                     data-toggle="collapse" data-target="#menu">
                    <i class="mx-auto mb-2" data-feather="menu">
                    </i>Menu
                </div>
                <a class="navbar-btn bg-0 my-3" href="#offcanvas-account" data-toggle="offcanvas">
                    <i class="mx-auto mb-1" data-feather="log-in"></i>Sign In/Up
                </a>
                <a class="navbar-btn bg-0 my-3"
                   href="#offcanvas-cart" data-toggle="offcanvas">
                    <span class="d-block position-relative">
                        <span class="navbar-btn-badge bg-primary text-light">4</span>
                        <i class="mx-auto mb-1" data-feather="shopping-cart">
                        </i>$325.00
                    </span>
                </a>
            </div>
            <!-- search-box-->
            <div class="flex-grow-1 pb-3 pt-sm-3 my-1 px-sm-2 pr-lg-4 order-sm-2">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-left" id="search-icon"><i data-feather="search"></i></span>
                    </div>
                    <input class="form-control rounded-right" type="text" id="site-search"
                           placeholder="Search site" aria-label="Search site" aria-describedby="search-icon">
                </div>
            </div>
        </div>
    </header>

    @Html.Raw(Html.Action("Navigation", "Home"))

    @*

            @Html.Action("WebSiteAddressInfo", "Home")
        @Html.Action("Languages", "Home")
        @Html.Action("SocialMediaLinks", "Home")
            @Html.Action("WebSiteLogo", "Home")

        @Html.Raw(Html.Action("ShoppingCartLink", "Payment"))
        <span id="ShoppingCartsDetail"></span>
        @Html.Partial("_SearchProductForm")
          @{Html.RenderAction("ProductTree", "Home"); }

    *@

    @RenderBody()
    @Html.Action("Footer", "Home")

    @Html.Raw(Html.Action("GoogleAnalyticsTrackingScript", "Home"))

    <a class="scroll-to-top-btn" href="#"><i class="scroll-to-top-btn-icon" data-feather="chevron-up"></i></a>

    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="~/Content/mstore/js/vendor.min.js"></script>
    <script src="~/Content/mstore/js/theme.min.js"></script>

    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="~/Scripts/eimece.js?v=2"></script>
    <script src="~/Scripts/cookie-consent.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.min.js"></script>
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/cookie-consent.js?v=1"></script>
    <script>
        CookieConsent();
        GetShoppingCartLinks();

        $(document).ready(function () {

            $("#AddToCart").click(function () {
                var orderGuid = getCookie("orderGuid");
                if (orderGuid != "") {

                } else {
                    orderGuid = createUUID();
                    setCookie("orderGuid", orderGuid, 365);
                }
                var postData = JSON.stringify({
                    productId: $("#productId").val(),
                    quantity: $("#quantity").val(),
                    orderGuid: orderGuid
                });
                console.log(postData);
                ajaxMethodCall(postData, "/Payment/AddToCart", function (data) {
                    GetShoppingCartLinks();
                });
            });

        });
    </script>
</body>
</html>