@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@model List<Menu>
@{
    var menus = Model;
}

<ul>
    @foreach (var m in menus)
    {

        if (m.Childrens.Any())
        {

            <li>
                @RenderMenuAction(m)
                @Html.Partial("_NavigationChildren", m.Childrens)

            </li>

        }
        else
        {
            <li>
                @RenderMenuAction(m)
            </li>
        }
    }
</ul>

@helper RenderMenuAction(Menu m)
{

var parts = m.MenuLink.Split("-".ToCharArray());
var action = parts[1];
var controller = parts[0];
String mid = "";
mid = m.MenuLink.Split("_".ToCharArray()).Last();
if (controller.Equals("pages", StringComparison.InvariantCultureIgnoreCase))
{


        @Html.ActionLink(m.Name, "detail", controller, new
{
    id = m.GetSeoUrl()
}, null)


}
else if (controller.Equals("stories", StringComparison.InvariantCultureIgnoreCase))
{

   
        @Html.ActionLink(m.Name, action, controller, new
   {
       id = mid
   }, null)


}
else
{

        @Html.ActionLink(m.Name, action, controller)


}

}