@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Models.FrontModels;
@model NavigationModel
@{
    var menus = Model.Menus;
    var productCategories = Model.ProductCategories;
}

<!-- Navbar Multilevel-->
<!-- First line: Topbar-->
<div class="navbar bg-dark py-2 px-0">
    <div class="container px-3">
        <!-- contact info-->
        <ul class="list-inline mb-0 d-none d-lg-inline-block">
            <li class="list-inline-item opacity-75 mr-2"><i class="text-light mr-2" data-feather="phone" style="width: 13px; height: 13px;"></i><a class="text-light font-size-sm py-1 pl-0 pr-2" href="tel:00331697720">00 33 169 7720</a></li>
            <li class="list-inline-item opacity-75 mr-2"><i class="text-light mr-2" data-feather="mail" style="width: 13px; height: 13px;"></i><a class="text-light font-size-sm py-1 pl-0 pr-2" href="mailto:info@example.com">info@example.com</a></li>
        </ul>
        <!-- links collapsed (moblie)-->
        <div class="dropdown d-inline-block d-lg-none">
            <a class="dropdown-toggle text-light opacity-75 font-size-sm py-1" href="#" data-toggle="dropdown">Useful links</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">About us</a><a class="dropdown-item" href="#">Help center</a><a class="dropdown-item" href="#">Delivery info</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="tel:00331697720"><i class="mr-2" data-feather="phone" style="width: 13px; height: 13px;"></i>00 33 169 7720</a><a class="dropdown-item" href="mailto:info@example.com"><i class="mr-2" data-feather="mail" style="width: 13px; height: 13px;"></i>info@example.com</a>
            </div>
        </div>
        <div class="d-flex">
            <!-- topbar menu-->
            <ul class="list-inline mb-0 d-none d-lg-block">
                <li class="list-inline-item mr-2"><a class="text-light font-size-sm opacity-75 py-1 pl-0 pr-2 border-right border-light" href="#">About us</a></li>
                <li class="list-inline-item mr-2"><a class="text-light font-size-sm opacity-75 py-1 pl-0 pr-2 border-right border-light" href="#">Help center</a></li>
                <li class="list-inline-item mr-2"><a class="text-light font-size-sm opacity-75 py-1 pl-0 pr-2" href="#">Delivery info</a></li>
            </ul>
            <!-- social bar  -->
            <div class="d-flex flex-nowrap"><a class="social-btn sb-facebook sb-light sb-sm ml-2" href="#"><i class="flaticon-facebook"></i><span class="sr-only">Facebook</span></a><a class="social-btn sb-twitter sb-light sb-sm ml-2" href="#"><i class="flaticon-twitter"></i><span class="sr-only">Twitter</span></a><a class="social-btn sb-instagram sb-light sb-sm ml-2" href="#"><i class="flaticon-instagram"></i><span class="sr-only">Instagram</span></a><a class="social-btn sb-pinterest sb-light sb-sm ml-2" href="#"><i class="flaticon-pinterest"></i><span class="sr-only">Pinterest</span></a></div>
        </div>
    </div>
</div>

<!-- Second line-->
<header class="navbar navbar-expand-lg navbar-light bg-light px-0">
    <div class="container flex-sm-nowrap px-3">
        <!-- navbar brand--><a class="navbar-brand mr-0 mr-sm-4" style="min-width: 100px;" href="index.html"><img width="100" src="/images/logo.jpg" alt="MStore" /></a>
        <!-- navbar buttons-->
        <div class="navbar-btns d-flex position-relative order-sm-3">
            <div class="navbar-toggler navbar-btn collapsed bg-0 border-left-0 my-3"
                 data-toggle="collapse" data-target="#menu">
                <i class="mx-auto mb-2" data-feather="menu">
                </i>Menu
            </div><a class="navbar-btn bg-0 my-3 border-left-0 navbar-collapse-hidden"
                     href="product-comparison.html">
                <span class="d-block position-relative">
                    <span class="navbar-btn-badge bg-secondary border">3</span><i class="mx-auto mb-1" data-feather="repeat">
                    </i>Compare
                </span>
            </a><a class="navbar-btn bg-0 my-3" href="#offcanvas-account" data-toggle="offcanvas">
                <i class="mx-auto mb-1" data-feather="log-in"></i>Sign In/Up
            </a><a class="navbar-btn bg-0 my-3"
                   href="#offcanvas-cart" data-toggle="offcanvas">
                <span class="d-block position-relative">
                    <span class="navbar-btn-badge bg-primary text-light">4</span>
                    <i class="mx-auto mb-1" data-feather="shopping-cart">
                    </i>$325.00
                </span>
            </a>
        </div>
        <!-- search-box-->
        <div class="flex-grow-1 pb-3 pt-sm-3 my-1 px-sm-2 pr-lg-4 order-sm-2">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text rounded-left" id="search-icon"><i data-feather="search"></i></span>
             
                </div>
                <input class="form-control rounded-right" type="text" id="site-search"
                       placeholder="Search site" aria-label="Search site" aria-describedby="search-icon">
            </div>
        </div>
    </div>
</header>

<!-- Third line: Navigation-->
<div class="navbar navbar-expand-lg navbar-light bg-light px-0">
    <div class="container px-3">
        <!-- navbar collapse area-->
        <div class="collapse navbar-collapse" id="menu">
            <!-- Site menu-->
            <ul class="navbar-nav">
                <li class="nav-item dropdown mega-dropdown dropdown-more">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Categories<i data-feather="more-horizontal"></i></a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            @for (int i = 0; i < productCategories.Count; i++)
                            {
                                @CreateProductTree(productCategories[i])
                            }
                        </div>
                    </div>
                </li>
                @CreateMenuTree(Model)
            </ul>
        </div>
    </div>
</div>

@helper CreateProductTree(ProductCategoryTreeModel categoryTreeModel)
{
    var productCategory = categoryTreeModel.ProductCategory;
    var productImgLink = productCategory.GetCroppedImageUrl(productCategory.MainImageId, 80, 80);
    var productCategoryLink = productCategory.ProductCategoryLink;

    <div class="dropdown-column">
        <div class="bg-position-center bg-no-repeat bg-size-cover text-center px-3 py-4 mb-3" style="background-image: url(img/megamenu/cat_bg03.jpg);">
            <h3 class="h5 text-white text-shadow my-3">@productCategory.Name</h3>
        </div>
        @if (categoryTreeModel.Childrens.IsNotEmpty())
        {
            <div class="widget widget-links">
                <ul>
                    @foreach (var childCategory in categoryTreeModel.Childrens)
                    {
                        var productChildCategory = childCategory.ProductCategory;
                        var productChildImgLink = productCategory.GetCroppedImageUrl(productCategory.MainImageId, 80, 80);
                        var productChildCategoryLink = productCategory.ProductCategoryLink;
                        <li><a href="@productChildCategoryLink"><i class="widget-categories-indicator" data-feather="chevron-right"></i><span class="font-size-sm">@productChildCategory.Name</span></a></li>
                    }
                </ul>
            </div>
        }
    </div>

}
@helper CreateMenuTree(NavigationModel navigationMenu)
{
    var menus = navigationMenu.Menus;

    foreach (var menu in menus)
    {
        <li class="nav-item dropdown mega-dropdown">
            <a class="nav-link dropdown-toggle" href="@menu.DetailPageLink">@menu.Name</a>

            @if (menu.Childrens.IsNotEmpty())
            {
                <div class="dropdown-menu">
                    <div class="dropdown-inner">
                        @foreach (var menuChildren in menu.Childrens)
                        {
                            var imgTag = menuChildren.GetCroppedImageTag(50, 50);

                            <a class="dropdown-column text-decoration-0" href="@menuChildren.DetailPageLink">
                                @if (!string.IsNullOrEmpty(imgTag))
                                {
                                    <img class="d-block img-thumbnail mb-2" src="@imgTag" alt="@menuChildren.Name">
                                }
                                <div class="text-center font-weight-semibold text-dark">@menuChildren.Name   @menuChildren.MenuLink</div>
                            </a>
                        }
                    </div>
                </div>
            }
        </li>
    }

}