@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Models.FrontModels;

@model List<ProductCategoryTreeModel>
@{
    var productCategories = Model;
}

<!-- Categories-->
<div class="widget widget-categories mb-4 py-1">
    <h3 class="widget-title">Shop categories</h3>
    <ul id="shopCategories">
        @foreach (var p in productCategories)
        {
            var productCategory = p.ProductCategory;
            if (p.Childrens.Any())
            {
                <li class="@String.Format("has-children")">
                    <a href="@productCategory.DetailPageUrl">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down widget-categories-indicator">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        @productCategory.Name<span class="badge text-muted ml-1">(@p.ProductCount)</span>
                    </a>

                    @Html.Partial("_ProductCategoryTreeChildrenHeadLine", p.Childrens)
                </li>

            }
            else
            {

                <li><a href="@productCategory.DetailPageUrl">@productCategory.Name</a></li>
            }
        }

        <li class="has-children">
            <a href="#computers" data-toggle="collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-down widget-categories-indicator">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
                Computers &amp; Accessories<span class="badge text-muted ml-1">(1138)</span>
            </a>
            <ul class="collapse show" id="computers" data-parent="#shopCategories">
                <li>
                    <a href="#">Desktop PCs<span class="badge text-muted ml-1">(508)</span></a>
                    <ul>
                        <li><a href="#">Office PC</a></li>
                        <li><a href="#">Gaming PC</a></li>
                        <li><a href="#">PC for Learning</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Laptops<span class="badge text-muted ml-1">(423)</span></a>
                    <ul>
                        <li><a href="#">15' Screens</a></li>
                        <li><a href="#">13' Screens</a></li>
                        <li><a href="#">Touch Screens</a></li>
                    </ul>
                </li>
                <li><a href="#">Nettops<span class="badge text-muted ml-1">(97)</span></a></li>
                <li><a href="#">PC Accessories<span class="badge text-muted ml-1">(110)</span></a></li>
            </ul>
        </li>
    </ul>
</div>

<ul class="Urunler parent-1" id="categories">
    @foreach (var p in productCategories)
    {

        if (p.Childrens.Any())
        {
            <li class="@String.Format("child-{0} has-sublist",p.TreeLevel)">
                @Html.ActionLink(p.Text, "Category", "ProductCategories", new { id = p.ProductCategory.GetSeoUrl() }, new { @class = "btn btn-default" })
                @Html.Partial("_ProductCategoryTreeChildrenHeadLine", p.Childrens)
            </li>

        }
        else
        {

            <li>
                @Html.ActionLink(p.Text, "Category", "ProductCategories", new { id = p.ProductCategory.GetSeoUrl() }, new { @class = "btn btn-default" })
            </li>
        }
    }
</ul>


