@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@model EImece.Domain.Models.FrontModels.ProductDetailViewModel
@using Resources;
@{
    var categories = Model.BreadCrumb;

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="mt-n1 mr-1"><i data-feather="home"></i></li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">@Resource.HomePage</a>
        </li>
        @for (int i = categories.Count() - 1; i >= 0; i--)
        {
            var category = categories[i];
            <li class="breadcrumb-item">
                <a href="@category.ProductCategory.DetailPageUrl">@category.ProductCategory.Name</a>
            </li>
        }
        <li class="breadcrumb-item active">
            @Model.Product.Name
        </li>
    </ol>
</nav>