@model List<String>
@{
    var InstagramWebSiteLink = Model[0];
    var TwitterWebSiteLink = Model[1];
    var LinkedinWebSiteLink = Model[2];
    var GooglePlusWebSiteLink = Model[3];
    var FacebookWebSiteLink = Model[4];

}

<ul class="social-icons">

    @if (!String.IsNullOrEmpty(FacebookWebSiteLink))
    {
        <li><a class="facebook" href="@FacebookWebSiteLink"><i class="icon-facebook"></i></a></li>
    }
    @if (!String.IsNullOrEmpty(InstagramWebSiteLink))
    {
        <li><a class="instagram" href="@InstagramWebSiteLink"><i class="icon-instagram"></i></a></li>
    }
    @if (!String.IsNullOrEmpty(TwitterWebSiteLink))
    {
        <li><a class="twitter" href="@TwitterWebSiteLink"><i class="icon-twitter"></i></a></li>
    }
    @if (!String.IsNullOrEmpty(GooglePlusWebSiteLink))
    {
        <li><a class="google" href="@GooglePlusWebSiteLink"><i class="icon-google"></i></a></li>
    }

    @if (!String.IsNullOrEmpty(LinkedinWebSiteLink))
    {
        <li><a class="linkedin" href="@LinkedinWebSiteLink"><i class="icon-linkedin"></i></a></li>
    }
</ul>