@model List<Setting>

 
@using EImece.Domain;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@{
    bool isThumb = ViewData["isThumb"].ToBool(false);
}
@{
    if (Model.Any())
    {
        var webSiteLogo = Model.FirstOrDefault();
        var companyName = Model.Skip(1).FirstOrDefault();
        string companyNametxt = companyName.SettingValue;
        string fileName = webSiteLogo.SettingValue;
        string fullPath = Path.Combine(ApplicationConfigs.ServerMapPath, fileName);
        string thumbPath = "/thb" + fileName + "";
        string partThumb1 = Path.Combine(ApplicationConfigs.ServerMapPath, "thumbs");
        string partThumb2 = Path.Combine(partThumb1, "thb" + fileName);



        if (isThumb)
        {

            <a href="/">
                <img alt="@companyNametxt" src="@partThumb2.Replace("~","")" />

            </a>
        }
        else
        {
            <a href="/">
                <img  alt="@companyNametxt" src="@fullPath.Replace("~","")" />

            </a>
        }


    }
    else
    {
        @String.Format("NO LOGO")
    }


}



