@model EImece.Domain.Models.FrontModels.ProductDetailViewModel
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.FrontModels;
@using Resources;
@using EImece.Domain;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Models.Enums;
@using System.Collections.Immutable;
@using System.Text.RegularExpressions;

@{
    var product = Model.Product;
    ViewBag.Title = product.GetProductSeoTitle();
    ViewBag.Description = product.GetSeoDescription();
    ViewBag.Keywords = product.GetSeoKeywords();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productFiles = product.ProductFiles.ToList();
    var productTags = product.ProductTags.Select(r => r.Tag).ToList();
    var productCategory = product.ProductCategory;
    var productSpecs = product.ProductSpecifications;

    Model.ProductComment.ProductId = product.Id;
    Model.ProductComment.SeoUrl = product.GetSeoUrl();
    var productComments = product.ProductComments.IsNotEmpty() ? product.ProductComments : new List<ProductComment>();
    var mainImageImgSrc = product.MainImageSrc.Item1;
    var productMainImageId = product.MainImageId.HasValue ? product.MainImageId.Value : 0;
    var mainImageImgSrcUrl = product.GetCroppedImageUrl(productMainImageId, 610, 0);
    var mainImageThbImgSrc = product.GetCroppedImageUrl(productMainImageId, 95, 105);
    var productSpecsExists = Model.ProdSpecs.IsNotEmpty();
}
<!-- Page Title-->
<div class="page-title-wrapper" aria-label="Page title">
    <div class="container">
        <div class="alert alert-secondary" role="alert">
            @Html.Partial("_ProductBreadCrumb", Model)
        </div>
        <h1 class="page-title">@product.NameLong</h1><span class="d-block mt-2 text-muted"></span>
        <hr class="mt-4">
    </div>
</div>

<div class="container pb-5 mb-sm-4 mt-n2 mt-md-n3">
    <div class="row pt-4 mt-2">
        <!-- Content-->
        <div class="col-xl-9 col-md-8">
            <h2 class="h6 px-4 py-3 bg-secondary mb-4">Hizli Sepet</h2>
            <!-- Item-->
            <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
                <div class="media d-block d-sm-flex text-center text-sm-left">
                    @if (product.ImageState && !string.IsNullOrEmpty(mainImageThbImgSrc))
                    {
                        <a class="cart-item-thumb mx-auto mr-sm-4" href="@product.DetailPageRelativeUrl"><img src="@mainImageThbImgSrc" alt="Product"></a>
                    }
                    else
                    {
                        <a class="cart-item-thumb mx-auto mr-sm-4" href="@product.DetailPageRelativeUrl"><img src="@EImece.Domain.AppConfig.GetDefaultImage("w170h170")" alt="Product"></a>
                    }

                    <div class="media-body pt-3">
                        <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a href="@product.DetailPageRelativeUrl">@product.NameLong</a></h3>
                        <div class="font-size-lg text-primary pt-2">@product.Price.CurrencySign()</div>
                    </div>
                </div>
                <div class="pt-2 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
                    <div class="font-size-sm mb-3"><span class="text-muted mr-2">@Resource.Quantity:</span><span class="font-weight-semibold">1</span></div>
                </div>
            </div>

            <!-- Navigation-->
            <a class="btn btn-outline-secondary btn-block" href="checkout-payment.html">
                @Resource.ProceedToCheckout
            </a>
        </div>
        <!-- Sidebar-->
        <div class="col-xl-3 col-md-4 pt-4 mt-3 pt-md-0 mt-md-0">
            <h2 class="h6 px-4 py-3 bg-secondary text-center">@Resource.OrderSummary</h2>
            <div class="font-size-sm border-bottom pt-2 pb-3">
                <div class="font-size-sm"><span class="text-muted mr-2">@Resource.Price :</span>@product.Price.CurrencySign()</div>
                <div class="font-size-sm"><span class="text-muted mr-2">@Resource.Quantity :</span>1</div>
                <div class="font-size-sm"><span class="text-muted mr-2">@AdminResource.ProductCategory :</span>@product.ProductCategory.Name</div>
            </div>
            <div class="h3 font-weight-semibold text-center py-3">@product.Price.CurrencySign()</div>
        </div>
        <div class="col-xl-9 col-md-8">
            <div class="d-sm-flex justify-content-between bg-secondary px-4 py-3 mb-4">
                <div class="media">
                    <img class="img-thumbnail rounded-circle mr-3" src="img/account/customer.jpg" width="95" alt="Daniel Adams">
                    <div class="media-body align-self-center">
                        <h6 class="mb-1">Daniel Adams</h6>
                        <div class="font-size-sm"><span class="text-warning">d.adams@example.com</span></div>
                        <div class="font-size-sm opacity-75"><span class="mr-1">Reward points:</span><span class="font-weight-semibold">586</span></div>
                    </div>
                </div>
                <div class="pt-3 pl-sm-2 text-right"><a class="btn btn-light btn-sm" href="account-profile.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit mr-2"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>Edit profile</a></div>
            </div>
            <h6 class="mb-3 pt-2 pb-3 border-bottom">Shipping adress</h6>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-fn">First Name</label>
                        <input class="form-control" type="text" id="checkout-fn">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-ln">Last Name</label>
                        <input class="form-control" type="text" id="checkout-ln">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-email">E-mail Address</label>
                        <input class="form-control" type="email" id="checkout-email">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-phone">Phone Number</label>
                        <input class="form-control" type="text" id="checkout-phone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-company">Company</label>
                        <input class="form-control" type="text" id="checkout-company">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-country">Country</label>
                        <select class="form-control custom-select" id="checkout-country">
                            <option>Choose country</option>
                            <option>Australia</option>
                            <option>Canada</option>
                            <option>France</option>
                            <option>Germany</option>
                            <option>Switzerland</option>
                            <option>USA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-city">Country</label>
                        <select class="form-control custom-select" id="checkout-city">
                            <option>Choose city</option>
                            <option>Amsterdam</option>
                            <option>Berlin</option>
                            <option>Geneve</option>
                            <option>New York</option>
                            <option>Paris</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-zip">ZIP Code</label>
                        <input class="form-control" type="text" id="checkout-zip">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-address-1">Address 1</label>
                        <input class="form-control" type="text" id="checkout-address-1">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="checkout-address-2">Address 2</label>
                        <input class="form-control" type="text" id="checkout-address-2">
                    </div>
                </div>
            </div>
            <h6 class="mb-3 pt-4 pb-3 border-bottom">Billing adress</h6>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" checked="" id="same-address">
                <label class="custom-control-label" for="same-address">Same as shipping address</label>
            </div>
            <!-- Navigation-->
            <div class="d-flex pt-4 mt-3">
                <div class="w-50 pr-3"><a class="btn btn-outline-secondary btn-block" href="cart.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left mr-1"><polyline points="15 18 9 12 15 6"></polyline></svg><span class="d-none d-sm-inline">Back to cart</span><span class="d-inline d-sm-none">Back</span></a></div>
                <div class="w-50 pl-2"><a class="btn btn-primary btn-block" href="checkout-shipping.html"><span class="d-none d-sm-inline">Proceed to shipping</span><span class="d-inline d-sm-none">Next</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right ml-1"><polyline points="9 18 15 12 9 6"></polyline></svg></a></div>
            </div>
        </div>

    </div>
</div>