@model EImece.Domain.Models.FrontModels.ProductDetailViewModel
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.FrontModels;
@using Resources;
@using EImece.Domain;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Models.Enums;
@using System.Collections.Immutable;
@using System.Text.RegularExpressions;


@{
    var product = Model.Product;
    ViewBag.Title = product.GetProductSeoTitle();
    ViewBag.Description = product.GetSeoDescription();
    ViewBag.Keywords = product.GetSeoKeywords();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productFiles = product.ProductFiles.ToList();
    var productTags = product.ProductTags.Select(r => r.Tag).ToList();
    var productCategory = product.ProductCategory;
    var productSpecs = product.ProductSpecifications;


    Model.ProductComment.ProductId = product.Id;
    Model.ProductComment.SeoUrl = product.GetSeoUrl();
    var productComments = product.ProductComments.IsNotEmpty() ? product.ProductComments : new List<ProductComment>();
    var mainImageImgSrc = product.MainImageSrc.Item1;
    var productMainImageId = product.MainImageId.HasValue ? product.MainImageId.Value : 0;
    var mainImageImgSrcUrl = product.GetCroppedImageUrl(productMainImageId, 610, 0);
    var mainImageThbImgSrc = product.GetCroppedImageUrl(productMainImageId, 95, 105);
    var productSpecsExists = Model.ProdSpecs.IsNotEmpty();
}
<!-- Page Title-->
<div class="page-title-wrapper" aria-label="Page title">
    <div class="container">
        <div class="alert alert-secondary" role="alert">
            @Html.Partial("_ProductBreadCrumb", Model)
        </div>
        <h1 class="page-title">@product.NameLong</h1><span class="d-block mt-2 text-muted"></span>
        <hr class="mt-4">
    </div>
</div>

@if (product.ImageState && !string.IsNullOrEmpty(mainImageImgSrc))
{

    <a href="@mainImageImgSrcUrl" data-fancybox="prod-gallery" data-hash="one">
        <img src="@mainImageImgSrc" width="610" height="610" alt="Product">
    </a>

}
else
{
    <a href="@EImece.Domain.AppConfig.GetDefaultImage("w610h610")" data-fancybox="prod-gallery" data-hash="one">
        <img src="@EImece.Domain.AppConfig.GetDefaultImage("w610h610")" width="610" height="610" alt="Product">
    </a>
}