@model List<Product>
@using EImece.Domain.Helpers;
@using GridMvc.Html
@using GridMvc.Sorting
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Models.FrontModels;

@{
    ViewBag.Title = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    int pageSizeNumber = Request.QueryString["GridPageSize"].ToInt();
    pageSizeNumber = pageSizeNumber == 0 ? AppConfig.GridPageSizeNumber : pageSizeNumber;
    var controllerName = "Products";
    var gridName = "productGrid";
    var contents = Model;
    ProductCategory selectedCategory = (ProductCategory)ViewBag.SelectedCategory;
    var products = Model;
    var baseList = contents.DownCasting<Product>();

    var gridImagesText = AdminResource.GridImagesText;
    var gridEditText = AdminResource.GridEditText;
    var gridDeleteText = AdminResource.GridDeleteText;
    var gridDetailText = AdminResource.GridDetailText;

    Setting isProductPriceEnable = ViewBag.IsProductPriceEnable;

    List<ProductCategoryTreeModel> ProductCategoryTree = ViewBag.ProductCategoryTree;

}
<h2>@AdminResource.ProductPageTitle</h2>
<hr class="adminLine" />

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ProductCategoryTree", ProductCategoryTree, new ViewDataDictionary(ViewData){
                            {"UrlPattern","/admin/products/index/"}
                          ,{"IsExcelButtonEnabled",true}})

        <span id="treeClickContainer"></span>
    </div>
    <div class="col-md-9">

        @if (selectedCategory != null)
        {
            <span>
                @{
                    <span>
                        @AdminResource.SelectedCategory
                    </span>
                    <b style="color:red;">
                        @String.Format("{0}", selectedCategory.Name)
                    </b>
                }

                <a href="@Url.Action("Index", "Products",new { id=0 })">
                    <span class="glyphicon glyphicon-remove-circle gridNotActiveIcon" aria-hidden="true"></span>
                </a>
            </span>

        }

        @Html.Partial("pGridOperations", new ViewDataDictionary(ViewData){
                            {"controllerName",controllerName}
            ,{"StateTypes","State,ImageState,MainPage,IsCampaign"}
           ,{"orderingButton",true}
           ,{"selectAll",true}
           ,{"deleteAll",true}
            ,{"SetStateOnOrOff",true} ,{"IsExcelButtonEnabled",true}})
        @Html.ActionLink(AdminResource.MoveProductsInTrees, "MoveProductsInTrees")
        <div class="panel panel-primary">

            @Html.Partial("pGridDropDown", baseList)

            @Html.Grid(contents).Named(gridName).Columns(columns =>
       {

       columns.Add(o => o.Id, true);

       columns.Add()
                      .Encoded(false)
                      .Sanitized(false)
                       .Css("gridButtons")
                      .RenderValueAs(d => Html.Partial("pGridCheckbox", new ViewDataDictionary(ViewData){
            {"ItemId",d.Id}}));

       columns.Add(c => c.Name)
          .Titled(AdminResource.Name)
          .Filterable(true)
           .Encoded(false)
            .Sanitized(false)
      .RenderValueAs(d =>
                                @<div>

                                    @Html.ActionLink(d.Name, "Detail", "Products", new { area = "", categoryName = GeneralHelper.GetUrlSeoString(d.ProductCategory.Name), id = d.GetSeoUrl() }, new { @class = "btn btn-sm btn-link", @target = "_blank" })
                                    @if (!string.IsNullOrEmpty(d.NameLong))
                                         {
                                        <div>
                                            @string.Format("{0}", d.NameLong)
                                        </div>
                                         }
                                    <div>
                                        @GridToolsColumnAlt(d, controllerName)
                                    </div>
                                </div>

                          );

                          if (isProductPriceEnable.SettingValue.ToBool(true))
                          {
                          columns.Add(c => c.Price).
                          Titled(AdminResource.Price).
                          Sanitized(false).
                          Sortable(true).
                          Encoded(false).
                          RenderValueAs(o => DisplayPriceColumn(o));

                          }

                          columns.Add(c => c.ProductCode)
                          .Titled(AdminResource.ProductCode);

                          columns.Add(o => o.Position).Titled(AdminResource.Position)
                          .Encoded(false).
                          Sanitized(false).
                          Css("smallGridColumn").
        @*SetWidth(10). *@
RenderValueAs(o => String.Format("<input   gridkey-id='{0}' value='{1}'   class='GridOrderingTextbox input-xs' name='gridOrdering' type='type'>", o.Id, o.Position));

columns.Add(o => o.IsActive)
.Titled(AdminResource.State)
.Sortable(true)
.Css("smallGridColumn")
.SortInitialDirection(GridSortDirection.Descending).Encoded(false).
Sanitized(false)
.RenderValueAs(o => GridImageActiveColumn(o, controllerName));

columns.Add(r => r.ImageState)
.Titled(AdminResource.Images)
.Encoded(false)
.Sanitized(false)
.Css("smallGridColumn")
.RenderValueAs(o => GridImageColumn(o, controllerName));

}).SetRowCssClasses(item => item.IsActive ? string.Empty : "GridIsActive").WithPaging(pageSizeNumber).Sortable().Filterable().WithMultipleFilters().Selectable(false)
        </div>
    </div>
</div>
@helper DisplayPriceColumn(Product o)
{
    if (o.HasDiscount)
    {
        <span class="text-primary">@o.PriceWithDiscount.CurrencySign()</span>
        <br />
        <span class="badge badge-pill badge-warning mr-2 mb-2">
            @string.Format("%{0} {1}", o.DiscountPercentage, Resource.Discount)
        </span>
        <br />
        <del class="lead text-muted mr-2">
            @o.Price.CurrencySign()
        </del>

    }
    else
    {
        <span class="text-primary">@o.PriceWithDiscount.CurrencySign()</span>
    }

}
@helper GridImageActiveColumn(Product o, String controllerName)
{
    <ul>
        <li>
            @Html.Raw(String.Format("<span gridkey-id='{0}' grid-data-value='{2}' {1} name='spanState'></span><span>{3}</span>",
                                                    o.Id, (o.IsActive ? Constants.OkStyle : Constants.CancelStyle), o.IsActive, AdminResource.IsActive))
        </li>
        <li>
            @Html.Raw(String.Format("<span gridkey-id='{0}' grid-data-value='{2}' {1} name='spanMainPage'></span><span>{3}</span>",
                                                    o.Id, (o.MainPage ? Constants.OkStyle : Constants.CancelStyle), o.MainPage, AdminResource.MainPage))
        </li>
        <li>
            @Html.Raw(String.Format("<span gridkey-id='{0}' grid-data-value='{2}' {1} name='spanIsCampaign'></span><span>{3}</span>",
                                                    o.Id, (o.IsCampaign ? Constants.OkStyle : Constants.CancelStyle), o.IsCampaign, AdminResource.IsCampaign))
        </li>
    </ul>

}

@helper GridImageColumn(Product o, String controllerName)
{
    Boolean IsMainImageExists = FilesHelper.IsMainImageExists(o.MainImageId, o.MainImage);
    if (IsMainImageExists)
    {
        <ul>
            <li>
                @Html.Raw(String.Format("<span>{3}</span><span gridkey-id='{0}' grid-data-value='{2}' {1} name='spanImageState'></span>",
                                                        o.Id, (o.ImageState ? Constants.OkStyle : Constants.CancelStyle), o.ImageState, AdminResource.ImageState))
            </li>
            <li>
                @Html.Partial("pGridImageMainPage", o)
            </li>
        </ul>
    }
    else
    {
        <ul>
            <li>
                <b style="font-size:0.8em;">

                    @AdminResource.NoImage
                </b>
            </li>
        </ul>

    }

}

@helper GridToolsColumnAlt(Product d, String controllerName)
{

    <div class="gridToolBox">

        <span>
            @Html.ActionLink(" ", "Media", controllerName, new { Id = d.Id }, new { @class = "gridBtn btn  btn-default btn-xs     glyphicon glyphicon-camera glyphicon-white " })
        </span>
        <span>
            @Html.ActionLink(" ", "SaveOrEdit", controllerName, new { id = d.Id }, new { @class = "gridBtn btn btn-primary btn-xs   glyphicon glyphicon-pencil glyphicon-white " })
        </span>
        @if (d.ProductCategory.TemplateId.HasValue && d.ProductCategory.TemplateId > 0)
        {
            <span>
                @Html.ActionLink(" ", "SaveOrEditProductSpecs", controllerName, new { Id = d.Id }, new { @class = "gridBtn btn btn-xs  btn-default   glyphicon glyphicon-plus" })
            </span>
        }
        @if (UserRoleHelper.IsDeletedEnableRoles())
        {
            <span>
                @Html.Partial("pDeleteModal", new ViewDataDictionary(ViewData) {
           { "ItemId", d.Id },
           {"controllerName",controllerName},
           { "DeleteIcon", "gridBtn btn btn-danger btn-xs glyphicon  glyphicon-remove-circle" },
           { "ItemDescription", d.Name }

           })
            </span>
        }
        @if (d.ProductComments.IsNotEmpty())
        {
            <span>
                @Html.ActionLink(" ", "Index", "ProductComments", new { Id = d.Id }, new { @class = "gridBtn btn  btn-default btn-xs     glyphicon glyphicon-user glyphicon-white " })
            </span>
        }
    </div>

}

@section Scripts{
    <script>

        $(document).ready(function () {

        });
    </script>
}