@model EImece.Domain.Models.FrontModels.MenuPageViewModel
@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Helpers;
@{

    var menu = Model.Menu;
    var files = menu.MenuFiles.ToList();
    ViewBag.Title = menu.GetSeoTitle();
    ViewBag.Description = menu.GetSeoDescription();
    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
    var menuTags = menu.MenuFiles.SelectMany(r => r.FileStorage.FileStorageTags.Select(t => t.Tag)).Distinct();

    int Width = ViewData["Width"].ToInt(300);
    int Height = ViewData["Height"].ToInt(214);
    var imgMenuUrl = menu.GetCroppedImageUrl(menu.MainImageId, 0, 0);
}

<div class="page-title-wrapper" aria-label="Page title">
    <div class="container">
        <div class="alert alert-secondary" role="alert">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="mt-n1 mr-1"><i data-feather="home"></i></li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">@Resource.HomePage</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @menu.Name
                    </li>
                </ol>
            </nav>
        </div>
        <h1 class="page-title">@menu.Name</h1><span class="d-block mt-2 text-muted"></span>
        <hr class="mt-4">
    </div>
</div>

<div class="container">
    <!-- Row-->
    <div class="row">
        <div class="col-md-8">
            <div>
                @Html.Raw(menu.Description)
            </div>
            @if (files.IsNotEmpty())
            {
                <!-- Row-->
                <div class="row">
                    @for (int i = 0; i < files.Count; i++)
                    {
                        var f = files[i].FileStorage;
                        <div class="col-md-4 mb-2">
                            @Html.DisplayFor(modelItem => f, "FileStorageThumbnails", new { Width = 300, Height = 300 })
                        </div>
                    }
                </div>
            }
        </div>
        @if (!string.IsNullOrEmpty(imgMenuUrl))
        {
            <div class="col-md-4">
                <div>
                    <img src="@imgMenuUrl" class="img-thumbnail rounded" alt="Rounded image">
                </div>
            </div>
        }
    </div>
</div>
