@model  List<ProductCategory>
@using EImece.Domain.Entities;
@using System.Data;
@{
    ViewBag.Title = "Contact2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var dt = (DataTable)ViewBag.DataTable;
}
@Html.DisplayFor(modelItem => dt)
<hr />

<table class='table table-hover table-bordered table-striped'>
    <tr>
        <th>
            Id
        </th>

        <th>
            ParentId
        </th>

        <th>
            Name
        </th>

        <th>
            CreatedDate
        </th>

        <th>
            UpdatedDate
        </th>

        <th>
            IsActive
        </th>

        <th>
            Position
        </th>

        <th>
            Description
        </th>

        <th>
            ImageState
        </th>

        <th>
            MainPage
        </th>

        <th>
            MainImageId
        </th>

        <th>
            Lang
        </th>

        <th>
            TemplateId
        </th>

        <th>
            EntityHash
        </th>

        <th>
            DiscountPercantage
        </th>

      
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ImageState)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MainPage)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MainImageId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Lang)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TemplateId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EntityHash)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercantage)
            </td>


        </tr>
    }
</table>
