@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Welcome to Dashboard</h2>

<div class="MainPage">

    <div>
        <a href="@Url.Action("Index","MainPageImages")">
            <img src="~/Areas/Admin/Content/main/1.png" />
        </a>
        <a href="@Url.Action("Index","")">
            <img src="~/Areas/Admin/Content/main/2.png" />
        </a>
        <a href="@Url.Action("Index","Menus")">
            <img src="~/Areas/Admin/Content/main/3.png" />
        </a>
        <a href="@Url.Action("Index","Products")">
            <img src="~/Areas/Admin/Content/main/4.png" />
        </a>
    </div>
    <div>
        <a href="@Url.Action("Index","Stories")">
            <img src="~/Areas/Admin/Content/main/5.png" />
        </a>
        <a href="@Url.Action("","")">
            <img src="~/Areas/Admin/Content/main/6.png" />
        </a>
        <a href="@Url.Action("","")">
            <img src="~/Areas/Admin/Content/main/7.png" />
        </a>
        <a href="http://www.google.com/analytics/">
            <img src="~/Areas/Admin/Content/main/8.png" />
        </a>
    </div>
</div>