@using EImece.Domain.Helpers;
@using EImece.Domain.Entities;
@using Resources;
@model List<BaseContent>

@{
    ViewBag.Title = "SearchContent";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var searchKey = (String)ViewBag.SearchKey;
    var searchList = Model;
}

<link href="~/Content/adminSearchResult.css?v=1" rel="stylesheet" />

<div class="container">
    <hgroup class="mb20">
        @if (Model.Any())
        {
            <h1>@AdminResource.SearchResults</h1>
            <h2 class="lead">
                <strong class="text-danger">@searchList.Count</strong>
                @AdminResource.SearchResultsText
                <strong class="text-danger">@searchKey</strong>
            </h2>
        }
        else
        {
            <h2 class="lead">
                @AdminResource.NoSearchResultsText
                <strong class="text-danger">@searchKey</strong>
            </h2>
        }
    </hgroup>
    @if (Model.Any())
    {
        <section class="col-xs-12 col-sm-6 col-md-12">
            @for (int i = 0; i < searchList.Count; i++)
            {
                var baseContent = searchList[i];
                @Html.DisplayFor(item => baseContent, "BaseContentSearchItem")

            }
        </section>
    }
</div>