@model EImece.Domain.Models.FrontModels.ProductCategoryViewModel
@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using Resources;
@using EImece.Domain;
@{

    ProductCategory category = Model.ProductCategory;
    var products = category.Products.OrderBy(r => r.Position).ThenByDescending(r => r.UpdatedDate).ToList();
    var ChildrenProductCategories = Model.ChildrenProductCategories.OrderBy(r => r.Position).ThenByDescending(r => r.UpdatedDate).ToList();


    ViewBag.Title = category.GetSeoTitle();
    ViewBag.Description = category.GetSeoDescription();
    var isUserAuthenticated = User.Identity.IsAuthenticated && Settings.IsEditLinkEnable;
}

@if (Model.ProductMenu != null && Model.ProductMenu.IsActive)
{


    <section class="parallax-titlebar fullwidth-element" data-background="#000" data-opacity="0.45" data-height="160" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 0.66s ease-in-out 1s,  opacity 0.66s ease-in-out 1s;transition: transform 0.66s ease-in-out 1s, opacity 0.66s ease-in-out 1s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;">
        
        <img src="@Model.ProductMenu.GetFullPathImageUrlFromFileSystem(false)" alt="@Model.ProductMenu.Name" style="top: -160.939px;">


        <div class="parallax-overlay" style="background-color: rgb(0, 0, 0); opacity: 0.45;"></div>
        <div class="parallax-content">

            <h2>
                @Model.ProductMenu.Name
                <span>Atlantis Cam @DateTime.Now.Year Ürünleri</span>
            </h2>

            <nav id="breadcrumbs">
                    <ul>
                        @if (Model.MainPageMenu != null && Model.MainPageMenu.IsActive)
                        {
                            <li>@Html.ActionLink(Model.MainPageMenu.Name, "Index", "Home")</li>
                        }
                        <li>@Model.ProductMenu.Name</li>
                    </ul>
            </nav>
        </div>
    </section>
}

<div class="container">
    <div class="four columns">

        <div class="widget margin-top-0">
            <h3 class="headline"> @Resource.Products</h3><span class="line"></span><div class="clearfix">
            </div>


            @Html.Partial("_ProductCategoryTreeHeadLine", Model.ProductCategoryTree)








            <div class="clearfix"></div>

        </div>

    </div>
    <div class="twelve columns products">


        <div class="widget margin-top-0">
            <h3 class="headline">
                @category.Name
                @if (isUserAuthenticated)
                {
                    @Html.ActionLink(Resource.AdminEdit, "saveoredit", "ProductCategories", new { @id = category.Id, @area = "admin" }, new { @class = "adminPageLink" })
                }

            </h3>
            <span class="line"></span>
            <div class="clearfix">
            </div>
        </div>









        @foreach (var productCategory in Model.ChildrenProductCategories)
        {

            <div class="four shop columns">
                <a href="@productCategory.GetDetailPageUrl("Category", "productCategories")">
                    <figure>
                        @Html.Raw(productCategory.GetCroppedImageTag(380, 185))
                        <figcaption>
                            <h3>
                                @productCategory.Name

                            </h3>
                            <span>@Resource.NewModelsClick</span>
                        </figcaption>
                    </figure>
                </a>

            </div>

        }







        <div class="clearfix"></div>


        @if (products.Any())
        {

            foreach (var p in products)
            {

                @Html.DisplayFor(modelItem => p, "MainPageProduct")
            }

        }
        else
        {


            <div class="container">Bu kategoriye eklenmiş bir ürün yoktur.</div>
        }












    </div>
</div>