@model EImece.Domain.Models.FrontModels.ProductCategoryViewModel
@using EImece.Domain.Entities
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using Resources;
@{

    ProductCategory category = Model.ProductCategory;
    var products = category.Products.OrderBy(r=>r.Position).ThenByDescending(r=>r.UpdatedDate);
    ViewBag.Title = category.GetSeoTitle();
    ViewBag.Description = category.GetSeoDescription();
    var isUserAuthenticated = User.Identity.IsAuthenticated;
}

<div class="container">
    <div class="four columns">

        <div class="widget margin-top-0">
            <h3 class="headline"> @Resource.Products</h3><span class="line"></span><div class="clearfix">
            </div>

            @Html.Partial("_ProductCategoryTreeHeadLine", Model.ProductCategoryTree)


            

            <div class="clearfix"></div>

        </div>

    </div>
    @if (products != null)
    {
        <div class="twelve columns products">
            <div class="widget margin-top-0">
                <h3 class="headline">
                    @category.Name
                    @if (isUserAuthenticated)
                    {
                        @Html.ActionLink("edit", "saveoredit", "ProductCategories", new { @id = category.Id, @area = "admin" }, new { })
                    }

                </h3>
                <span class="line"></span>
                <div class="clearfix">
                </div>
            </div>
            @foreach (var p in products)
            {
                    @Html.DisplayFor(modelItem => p, "MainPageProduct")
            }
        </div>
    }
</div>