<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <link href="~/Content/SharkDev.TreeView.css" rel="stylesheet" />
    <script src="~/Scripts/SharkDev.treeView.js"></script>
    <script src="~/Scripts/eimece.js"></script>
    <script src="~/Scripts/gridmvc.js"></script>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/adminSite.css" rel="stylesheet" />

</head>
<body ng-app="myApp" class="ng-cloak">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home Page", "Index", "Home", new { area = "" },null)</li>
                    <li>@Html.ActionLink("Products", "Index", "Products", new { area = "admin" },null)</li>
                    <li>@Html.ActionLink("Product Categories", "Index", "ProductCategories", new { area = "admin" },null)</li>
                    <li>@Html.ActionLink("Menus", "Index", "Menus", new { area = "admin" },null)</li>
                    <li>@Html.ActionLink("Subscribers", "Index", "Subscribers", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink("StoryCategories", "Index", "StoryCategories", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink("Stories", "Index", "Stories", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink("Tags", "Index", "Tags", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink("TagCategories", "Index", "TagCategories", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink("Settings", "Index", "Settings", new { area = "admin" }, null)</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    

    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/angularTreeView/angular.treeview.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular.treeview.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/angular-datatables.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <link rel="stylesheet"  href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">

    <script src="~/Scripts/ng-table.min.js"></script>



    <script src="~/Scripts/ng-script/Directive.js"></script>
    <script src="~/Scripts/ng-script/MyApp.js?v=1"></script>
</body>
</html>