@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain;
@using Resources;
@using Microsoft.AspNet.Identity
@using System.Threading;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Entities;
@using EImece.Domain.Services.IServices;
@{


    var GridSearchButtonText = AdminResource.GridSearchButtonText;
    String cultureName = Thread.CurrentThread.CurrentCulture.Name;
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems = EImece.Domain.Helpers.EnumHelper.ToSelectList3(cultureName);
    int selectedLang = 0;
    if (listItems.Count > 1)
    {
        selectedLang = EImece.Domain.Helpers.EnumHelper.GetEnumFromDescription(cultureName, typeof(EImeceLanguage));
    }
    else
    {
        // Just one language is activated.
        selectedLang = ApplicationConfigs.MainLanguage;
    }

    var SettingService = DependencyResolver.Current.GetService<ISettingService>();
    var companyNameSetting = SettingService.GetSettingByKey(ApplicationConfigs.CompanyName).ToStr();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@companyNameSetting Admin Panel </title>
    @Styles.Render("~/Content/admincss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/SharkDev.TreeView.css?v=1" rel="stylesheet" />
    <script src="~/Scripts/SharkDev.treeView.js"></script>
    <script src="~/Scripts/adminEimece.js?v=6"></script>
    <script src="~/Scripts/gridmvc.js"></script>
    <link href="~/Content/Gridmvc.css?v=1" rel="stylesheet" />

    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

    <link href="~/Content/codemirror/codemirror.css" rel="stylesheet" />
    <script src="~/Scripts/codemirror/codemirror.js"></script>
    <script src="~/Scripts/codemirror/xml/xml.js"></script>
    <link href="~/Content/codemirror/addon/hint/show-hint.css" rel="stylesheet" />
    <script src="~/Content/codemirror/addon/hint/show-hint.js"></script>
    <script src="~/Content/codemirror/addon/hint/xml-hint.js"></script>
    <!-- Be sure this is after jquery reference -->
    <script src="~/MVCGridHandler.axd/script.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="~/Content/checkBoxStyle.css" rel="stylesheet" />
    <link href="~/Content/adminSite.css" rel="stylesheet" />


</head>
<body>

    <nav class="navbar navbar-default" id="nav-1">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <p class="navbar-text" style="font-weight:bolder;">@String.Format("{0} Admin Panel", companyNameSetting)</p>                
                
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink(AdminResource.Hello +" " + User.Identity.GetUserName() + "!", "changepassword", "Users", routeValues: new { @area = "admin" }, htmlAttributes: new { title = "Manage" })
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (listItems.Count() > 1)
                    {
                        <li>
                            @Html.DropDownList("CookieLanguage", listItems, new { @onchange = "setlanguage(this.value)", @class = "form-control" })
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("ClearCache", "Dashboard", new { area = "admin" })">
                            @AdminResource.Refresh <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Dashboard", new { area = "admin" })">
                            @AdminResource.AdminHome
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/" target="_blank">
                            @AdminResource.WebSite <span class="glyphicon glyphicon-globe"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">  @AdminResource.Logout <span class="glyphicon glyphicon-log-out"></span></a>
                        @using (Html.BeginForm("LogOff", "DashBoard", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()



                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default" id="nav-2">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>            
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-2">

            <p class="navbar-text" style="font-weight:bold;">
                @String.Format("{0}", DateTime.Now.ToString("dd MMMM yyyy"))
            </p>

            @using (Html.BeginForm("SearchContent", "Dashboard", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
            {
                <div class="form-group" style="display:inline;">
                        <input type="text" name="searchContent"
                               value="@Request.QueryString["searchContent"].ToStr()"
                               id="searchTxt"
                               data-provide="typehead"
                               class="form-control"
                               placeholder="@AdminResource.AdminMainSeachPlaceHolder"
                               autocomplete="off">
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>

            }
 

        <ul class="nav navbar-nav pull-right">

            <li>@Html.ActionLink(AdminResource.Menus, "Index", "Menus", new { area = "admin" }, null)</li>
            <li>@Html.ActionLink(AdminResource.MainPageImages, "Index", "MainPageImages", new { area = "admin" }, null)</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@AdminResource.Products <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink(AdminResource.Products, "Index", "Products", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink(AdminResource.ProductCategories, "Index", "ProductCategories", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink(AdminResource.ProductDynamicTemplates, "Index", "Templates", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink(AdminResource.Lists, "Index", "Lists", new { area = "admin" }, null)</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@AdminResource.Tags <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink(AdminResource.Tags, "Index", "Tags", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink(AdminResource.TagCategories, "Index", "TagCategories", new { area = "admin" }, null)</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@AdminResource.Stories <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink(AdminResource.Stories, "Index", "Stories", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink(AdminResource.StoryCategories, "Index", "StoryCategories", new { area = "admin" }, null)</li>
                </ul>
            </li>
            <li>@Html.ActionLink(AdminResource.Subscribers, "Index", "Subscribers", new { area = "admin" }, null)</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@AdminResource.Settings <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    @if (UserRoleHelper.IsAdminManagementRoles())
                    {
                        <li>@Html.ActionLink(AdminResource.MailTemplates, "Index", "MailTemplates", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink(AdminResource.AdminSettings, "Index", "AdminSettings", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink(AdminResource.NormalSettings, "Index", "Settings", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink(AdminResource.WebSiteLogo, "AddWebSiteLogo", "Settings", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink(AdminResource.Privacypolicy, "AddPrivacyPolicy", "Settings", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink(AdminResource.TermsConditions, "AddTermsAndConditions", "Settings", new { area = "admin" }, null)</li>
                    }

                </ul>
            </li>
            <li>@Html.ActionLink(AdminResource.UsersManagement, "Index", "Users", new { area = "admin" }, null)</li>
        </ul>
            
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        @*<hr />
        <footer>
            <p>@String.Format("{0}", DateTime.Now.ToString("dd MMMM yyyy dddd"))</p>
        </footer>*@
    </div>

    <script>
        function setlanguage(selectedLanguage) {
            window.location.href = "/admin/Dashboard/setlanguage?name=" + selectedLanguage;
        }
    </script>

    @*<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.js"></script>*@




</body>
</html>
