@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;

@{

    var GridSearchButtonText = AdminResource.GridSearchButtonText;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/SharkDev.TreeView.css" rel="stylesheet" />
    <script src="~/Scripts/SharkDev.treeView.js"></script>
    <script src="~/Scripts/eimece.js?v=4"></script>
    <script src="~/Scripts/gridmvc.js"></script>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/adminSite.css" rel="stylesheet" />
    <script src="//cdn.ckeditor.com/4.6.1/basic/ckeditor.js"></script>

    <link href="~/Content/codemirror/codemirror.css" rel="stylesheet" />
    <script src="~/Scripts/codemirror/codemirror.js"></script>
    <script src="~/Scripts/codemirror/xml/xml.js"></script>
    <link href="~/Content/codemirror/doc/docs.css" rel="stylesheet" />
    <link href="~/Content/codemirror/addon/hint/show-hint.css" rel="stylesheet" />
    <script src="~/Content/codemirror/addon/hint/show-hint.js"></script>
    <script src="~/Content/codemirror/addon/hint/xml-hint.js"></script>
    <!-- Be sure this is after jquery reference -->
    <script src="~/MVCGridHandler.axd/script.js"></script>

</head>
<body ng-app="myApp" class="ng-cloak">


    <nav class="navbar navbar-default">
        <div class="container-fluid">



            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style="float:left;">
                        <b>
                            @String.Format("{0}", User.Identity.Name)
                            @String.Format("{0}", DateTime.Now.ToString("dd MMMM yyyy dddd"))
                        </b>
                    </li>
                     <li>@Html.ActionLink("Refresh", "ClearCache", "Dashboard", new { area = "admin" }, new { @class= "btn btn-outline-primary" })</li>
                     <li>

                        @using (Html.BeginForm("SearchContent", "Dashboard", FormMethod.Get, new
                                                                            {
                                                                                @class = "navbar-form navbar-left",
                                                                                role = "search"
                                                                            }))
                        {
                            <div class="form-group">
                                <input type="text" name="searchContent" value="@Request.QueryString["searchContent"].ToStr()" id="searchTxt" data-provide="typehead" class="form-control" placeholder="@GridSearchButtonText" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>

                        }
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink("Main Page", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Menus", "Index", "Menus", new { area = "admin" }, null)</li>
                    <li>@Html.ActionLink("MainPageImages", "Index", "MainPageImages", new { area = "admin" }, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Products", "Index", "Products", new { area = "admin" }, null)</li>
                            <li>@Html.ActionLink("Product Categories", "Index", "ProductCategories", new { area = "admin" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Tags", "Index", "Tags", new { area = "admin" }, null)</li>
                            <li>@Html.ActionLink("TagCategories", "Index", "TagCategories", new { area = "admin" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Stories", "Index", "Stories", new { area = "admin" }, null)</li>
                            <li>@Html.ActionLink("StoryCategories", "Index", "StoryCategories", new { area = "admin" }, null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Subscribers", "Index", "Subscribers", new { area = "admin" }, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Templates", "Index", "Templates", new { area = "admin" }, null)</li>
                            @if (UserRoleHelper.IsAdminManagementRoles())
                            {
                                <li>@Html.ActionLink("Settings", "Index", "Settings", new { area = "admin" }, null)</li>
                                <li>@Html.ActionLink("Users", "Index", "Users", new { area = "admin" }, null)</li>
                            }

                        </ul>
                    </li>

                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    @*<div class="container body-content">*@
    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>



    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/angularTreeView/angular.treeview.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular.treeview.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/angular-datatables.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">

    <script src="~/Scripts/ng-table.min.js"></script>



    <script src="~/Scripts/ng-script/Directive.js"></script>
    <script src="~/Scripts/ng-script/MyApp.js?v=1"></script>



</body>
</html>