@using EImece.Domain.Helpers;
@using Resources;

@{
    var controllerName = ViewData["controllerName"].ToStr();

    var orderingButton = ViewData["orderingButton"].ToBool(true);
    var selectAll = ViewData["selectAll"].ToBool(true);
    var deleteAll = ViewData["deleteAll"].ToBool(true) && UserRoleHelper.IsDeletedEnableRoles();

    var SetStateOnOrOff = ViewData["SetStateOnOrOff"].ToBool(true);
    var StateTypes = ViewData["StateTypes"].ToStr("State,ImageState,MainPage");
    var isNewRecordButtonEnabled = ViewData["IsNewRecordButtonEnabled"].ToBool(true);
    var NewRecordText = AdminResource.NewRecordText;

    var GridSelectAllButtonText = AdminResource.GridSelectAllButtonText;
    var GridDeSelectAllButtonText = AdminResource.GridDeSelectAllButtonText;
    var GridDeleteSelectedButtonText = AdminResource.GridDeleteSelectedButtonText;
    var GridActiveSelectedButtonText = AdminResource.GridActiveSelectedButtonText;
    var GridDeActiveSelectedButtonText = AdminResource.GridDeActiveSelectedButtonText;
    var GridOrderingAllButtonText = AdminResource.GridOrderingAllButtonText;
    var State = AdminResource.State;
    var ImageState = AdminResource.ImageState;
    var MainPage = AdminResource.MainPage;
    var AdminDeleteConfirmMessage = AdminResource.AdminDeleteConfirmMessage;

}




<div class="panel panel-info">
    <div class="panel-body">

        <div class="row">
            @if (isNewRecordButtonEnabled)
            {
                <span class="col-md-3">
                    <p>
                        @Html.ActionLink(NewRecordText, "SaveOrEdit", controllerName, null, new { @class = "btn btn-primary btn-block" })
                    </p>
                </span>
                <span class="col-md-9">
                    @Html.Partial("pSearchForm")
                </span>
            }
            else
            {
                <span class="col-md-12">
                    @Html.Partial("pSearchForm")
                </span>
            }


        </div>
        <div class="row">
            @if (selectAll)
            {
                <span class="col-md-1">
                    <span class="btn btn-xs btn-default " id="SelectAll">
                        @GridSelectAllButtonText
                    </span>
                </span>
                <span class="col-md-1">
                    <span class="btn btn-xs btn-default" id="DeselectAll">
                        @GridDeSelectAllButtonText
                    </span>
                </span>
            }

            @if (deleteAll)
            {
                <span class="col-md-2">
                    <span class="btn btn-xs btn-default" id="DeleteAll">
                        @GridDeleteSelectedButtonText
                    </span>
                </span>
            }

          

                <span class="col-md-2">
                    @if (StateTypes.Equals("State,ImageState,MainPage"))
                    {
                        <select name="ItemStateSelection" id="ItemStateSelection">
                            <option value="State">@State</option>
                            <option value="ImageState">@ImageState</option>
                            <option value="MainPage">@MainPage</option>
                        </select>
                    }
                    else if (StateTypes.Equals("State,ImageState"))
                    {
                        <select name="ItemStateSelection" id="ItemStateSelection">
                            <option value="State">@State</option>
                            <option value="ImageState">@ImageState</option>
                        </select>
                    }
                    else if (StateTypes.Equals("State"))
                    {
                        <input value="State" type="hidden" name="ItemStateSelection" id="ItemStateSelection" />
                    }


                </span>

           

            @if (SetStateOnOrOff)
            {
                <span class="col-md-2">
                    <span class="btn btn-xs btn-default" id="SetStateOnAll">@GridActiveSelectedButtonText</span>
                </span><span class="col-md-2">
                    <span class="btn btn-xs btn-default" id="SetStateOffAll">@GridDeActiveSelectedButtonText</span>
                </span>

            }


            @if (orderingButton)
            {
                <span class="col-md-2">
                    <span class="btn btn-xs btn-default" id="OrderingAll">
                        @GridOrderingAllButtonText
                    </span>
                </span>
            }



        </div>
        <div id="ErrorMessagePanel" style="display: none;" class="alert alert-danger">
            <span id="ErrorMessage"></span>
        </div>

    </div>
</div>
<span style="display:none;" id="AdminMultiSelectDeleteConfirmMessage">@AdminDeleteConfirmMessage</span>

<!-- Modal confirm -->
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Ok</button>
                <button type="button" class="btn btn-default" id="confirmCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>