@model  BaseContent
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Entities;
<b>
    @{
        var d = Model;
        FileStorage f = d.MainImage;
        var gridMainPageImageText = AdminResource.GridMainPageImageText;
        var gridMainNoPageImageText = AdminResource.GridNoMainPageImageText;

    }

    @if (d.MainImageId > 0 && f != null)
    {
        <a data-toggle="modal" class="btn btn-outline btn-info btn-xs" style="font-size:0.8em;" data-target="@String.Format("#myModal_{0}",d.MainImageId)">@gridMainPageImageText</a>
        @Html.Partial("pImagePopUp", f);
    }
    else if (d.MainImageId > 0)
    {
        <button type="button" class="btn btn-outline btn-info btn-xs" data-toggle="modal" data-target="@String.Format("#myModal_{0}",d.MainImageId)">@gridMainPageImageText</button>
            @Html.Partial("pImagePopUpWithoutFileStroage", d.MainImageId);
    }
    else
    {
        <b style="font-size:0.8em;">
            No Image
        </b>
    }

</b>
