@model FileStorage
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Entities;

@{
    var close = AdminResource.Close;
    var fileStorage = Model;
    var imageWidth = 300;
    var imageHeight = 0;
    var filesHelper = DependencyResolver.Current.GetService<FilesHelper>();
    filesHelper.InitFilesMediaFolder();
    var imageSizes = filesHelper.GetThumbnailImageSize(fileStorage);
}

<!-- Modal -->
<div id="@String.Format("myModal_{0}",fileStorage.Id)" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@fileStorage.FileName</h4>
            </div>
            <div class="modal-body">
                <p>@String.Format("Original {2}={0}px {3}={1}px",
                  imageSizes.OriginalWidth,
                  imageSizes.OriginalHeight, AdminResource.ImageWidth, AdminResource.ImageHeight)
                    <a href=@String.Format("../..{1}{0}",Model.FileName, Constants.UrlBase) target="_blank">Full Image</a>
                </p>
                <p>@String.Format("Thumbs {2}={0}px {3}={1}px",
                  imageSizes.ThumpBitmapWidth,
                  imageSizes.ThumpBitmapHeight, AdminResource.ImageWidth, AdminResource.ImageHeight)
                    <a href=@String.Format("../..{1}thumbs/thb{0}", Model.FileName, Constants.UrlBase) target="_blank">Thumps Image</a>
                </p>
                <img src="@Url.Action("Index","Images",new { area="admin", id = fileStorage.Id, width=imageWidth, height= imageHeight })" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@close</button>
            </div>
        </div>
    </div>
</div>