@using EImece.Domain.Entities;
@model  List<TagCategory>
@{
    var tagCategories = Model;
}

@foreach (TagCategory tagCategory in tagCategories)
{
    <h3>
        @tagCategory.Name
    </h3>
    <div>
        @foreach (var tag in tagCategory.Tags)
        {

            <div class="checkbox checkbox-danger">

                <input id="@String.Format("checkbox{0}",tag.Id)" class="styled" data-image-tag="@tag.Id" value="@tag.Id" type="checkbox">

                <label for="@String.Format("checkbox{0}",tag.Id)">

                    @tag.Name
                </label>
            </div>

        }
    </div>
}