@using EImece.Domain.Models.AdminModels
@model RazorError
@{
    var re = Model;
}

@if (!String.IsNullOrEmpty(re.ErrorLine))
{
    <div class="display-label">
        @Html.DisplayNameFor(model => re.ErrorLine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => re.ErrorLine)
    </div>
}


@if (!String.IsNullOrEmpty(re.LineAdjusted))
{
    <div class="display-label">
        @Html.DisplayNameFor(model => re.LineAdjusted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => re.LineAdjusted)
    </div>
}

@if (!String.IsNullOrEmpty(re.Line))
{
    <div class="display-label">
        @Html.DisplayNameFor(model => re.Line)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => re.Line)
    </div>
}


@if (!String.IsNullOrEmpty(re.ErrorText))
{
    <div class="display-label">
        @Html.DisplayNameFor(model => re.ErrorText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => re.ErrorText)
    </div>
} 