@using System.Threading;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    ShoppingCartSession shoppingCart = (ShoppingCartSession)Session[Constants.ShoppingCartSession];
    string totalNumber = shoppingCart == null ? "" : shoppingCart.TotalItemCount > 0 ? String.Format("({0})", shoppingCart.TotalItemCount + "") : "";


}

 
    <div id="cart">
        @if (shoppingCart != null)
        {
            <!-- Button -->
            <div class="cart-btn">
                <a href="#" class="button adc">@String.Format("{0:c}", shoppingCart.TotalPrice)</a>
            </div>
        }
            <div class="cart-list" style="display: none;">

                <div class="arrow"></div>

                @if (shoppingCart != null)
                {
                    <div class="cart-amount">
                        <span>@shoppingCart.ShoppingCartItems.Count items in the shopping cart</span>
                    </div>
                    <ul>
                        @foreach (var c in shoppingCart.ShoppingCartItems)
                        {

                            <li>
                                <a href="@Url.Action("Detail","Products",new { id=c.product.Id })">
                                    <img src="@c.product.GetCroppedImageUrl(c.product.MainImageId.Value, 80, 80)" alt="" />
                                </a>
                                <a href="@Url.Action("Detail","Products",new { id=c.product.Id })">@c.product.Name</a>
                                <span>@c.quantity x @String.Format("{0:c}", c.UnitPrice)</span>
                                <div class="clearfix"></div>
                            </li>

                        }
                    </ul>

                    <div class="cart-buttons button">
                        <a href="@Url.Action("ShoppingCart","Payment")" class="view-cart"><span data-hover="View Cart"><span>View Cart</span></span></a>
                        <a href="@Url.Action("CheckoutBillingDetails", "Payment")" class="checkout"><span data-hover="Checkout">Checkout</span></a>
                    </div>
                    <div class="clearfix">

                    </div>

                }



            </div>

        </div>
    