﻿@model EImece.Domain.Models.DTOs.ProductCategoryDto
@using EImece.Domain.Helpers.Extensions;
@{var c=Model; int Width=ViewData["Width"].ToInt(0); int Height=ViewData["Height"].ToInt(0); var img=Url.Action("Index","Images",new{id=string.Format("{0}.jpg",c.MainImageId ?? 0),imageSize=string.Format("w{0}h{1}",Width,Height)});} 
<div class="col-lg-3 col-sm-4 col-6 border border-collapse"><div class="product-card"><div class="product-thumb"><a class="product-thumb-link" href="@c.DetailPageUrl"></a><img src="@img" alt="@c.Name" /></div><div class="product-card-body"><h3 class="product-card-title"><a href="@c.DetailPageUrl">@c.Name</a></h3></div></div></div>