@model EImece.Domain.Entities.Story
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    var story = Model;
    var storyDetailUrl = story.DetailPageUrl;
    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
    int Width = ViewData["Width"].ToInt(0);
    int Height = ViewData["Height"].ToInt(0);
}

<div class="four columns">
    <article class="from-the-blog">
        <figure class="from-the-blog-image">
            <a href="@storyDetailUrl">
                @Html.Raw(story.GetCroppedImageTag(Width, Height))
            </a>
            <div class="hover-icon"></div>
        </figure>
        <section class="from-the-blog-content">
            <a href="@storyDetailUrl">
            <h5>@story.Name
                @if (isUserAuthenticated)
            {
                    @Html.ActionLink(Resource.AdminEdit, "saveoredit", "stories", new { @id = story.Id, @area = "admin" }, new { @class = "adminPageLink" })
                }
                </h5>
                <i>
                    @story.StoryCategory.Name
                </i>
            </a>
            <i>@story.UpdatedDate</i>
            <span>@story.GetSeoDescription(350) </span>
            <a class="button gray" href="@storyDetailUrl">
                Read More
            </a>
        </section>
    </article>
</div>