@model EImece.Domain.Entities.Product
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@{
    var productFiles = Model.ProductFiles;
    var product = Model;
    var categoryName = product.ProductCategory.Name;
    var isUserAuthenticated = User.Identity.IsAuthenticated && Settings.IsEditLinkEnable;
}

 

<div class="four shop columns">
    <figure class="product">
        <div class="mediaholder">
            <a title="@product.Name" href="@product.GetDetailPageUrl("Detail", "Products", categoryName, Settings.HttpProtocol)">
                @Html.Raw(product.GetCroppedImageTag(300, 300))
                <div class="cover">
                    @Html.Raw(product.GetCroppedImageTag(300, 300))
                </div>
            </a>
        </div>
        <a title="@product.Name" href="@product.GetDetailPageUrl("Detail", "Products", categoryName, Settings.HttpProtocol)">
            <section>

                <h5>@product.Name
                    @if (isUserAuthenticated)
                    {
                        @Html.ActionLink("edit", "saveoredit", "Products", new { @id = product.Id, @area = "admin" }, new { })
                    }
                </h5>
                <span class="product-code">
                    @product.ProductCode
                </span>

            </section>
        </a>
    </figure>
</div>
