@model EImece.Domain.Entities.Product
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    var productFiles = Model.ProductFiles;
    var product = Model;
    var categoryName = product.ProductCategory.Name;
    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
    int Width = ViewData["Width"].ToInt(0);
    int Height = ViewData["Height"].ToInt(0);
    var imageTag = product.GetCroppedImageTag(Width, Height);
    var productLink = product.DetailPageRelativeUrl;
}

<div class="media">
    <a class="featured-entry-thumb" href="@productLink">@Html.Raw(imageTag)</a>
    <div class="media-body">
        <h6 class="featured-entry-title"><a href="@productLink">@product.Name</a></h6>
        <div class="star-rating">
            @for (int i = 0; i < product.Rating; i++)
            {
                @:<i class="sr-star active" data-feather="star"></i>
            }
        </div>
        <p class="featured-entry-meta">@product.PriceWithDiscount.CurrencySign()</p>
    </div>
</div>