@model EImece.Domain.Entities.Product
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@{
    var productFiles = Model.ProductFiles;
    var product = Model;
    var categoryName = GeneralHelper.GetUrlSeoString(product.ProductCategory.Name);

}

Product Files : @product.ProductFiles.Count()
<div>
    <dl class="dl-horizontal">
        <h2>
            Product Category: @product.ProductCategory.Name
        </h2>
        @if (product.MainImage != null)
        {
            @product.MainImage.FileName
        }
        @Html.ActionLink(product.Name, "detail", "products", new { category = categoryName, id = product.GetSeoUrl() }, null)
         
            @Html.Raw(product.GetCroppedImageTag(200, 200))
         


        @foreach(var productFile in productFiles)
        {
            <b style="color:red;">
                @productFile.Name  @productFile.Position
            </b>
        }
    </dl>
</div>
 