@model EImece.Domain.Entities.Product
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
 @{ 
     var productFiles = Model.ProductFiles;
     var product = Model;
     var categoryName = GeneralHelper.GetUrlSeoString(product.ProductCategory.Name);
 }


<div>
    <dl class="dl-horizontal">
        <h2>
            Product Category: @product.ProductCategory.Name
        </h2>
        @if (product.MainImage != null)
        {
            @product.MainImage.FileName
        }
  
        @Html.ActionLink(product.Name, "detail", "products", new { categoryName = categoryName, id = product.GetSeoUrl() }, null)

        <dt>
            @Html.DisplayNameFor(model => product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => product.Name)
        </dd>
       
    </dl>
</div>
 