@model EImece.Domain.Entities.Product
 @{ 
     var productFiles = Model.ProductFiles;

 }

Product Files : @Model.ProductFiles.Count()
<div>
    <dl class="dl-horizontal">
        <h2>
            Product Category: @Model.ProductCategory.Name
        </h2>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Id)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        @foreach(var productFile in productFiles)
        {
            <b style="color:red;">
                @productFile.Name  @productFile.Position
            </b>
        }
    </dl>
</div>
 