@model EImece.Domain.Models.DTOs.ProductDto
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    var product = Model;
    var categoryName = product.ProductCategoryName;
    string tagsText = "";
    string filters = "";
    int Width = ViewData["Width"].ToInt(0);
    int Height = ViewData["Height"].ToInt(0);
    var productImageTag = string.Format("<img src='{0}' alt='{1}'/>", Url.Action("Index", "Images", new { id = string.Format("{0}.jpg", product.MainImageId ?? 0), imageSize = string.Format("w{0}h{1}", Width, Height) }), product.Name);
}

<div class="one-third column portfolio-item media
      post-@product.Id portfolio type-portfolio
     status-publish has-post-thumbnail hentry
     @filters @tagsText" id="post-@product.Id" style="position: absolute; left: 320px; top: 0px;">

    <figure>
        <div class="portfolio-holder">
            <a title="@product.Name" href="@product.DetailPageRelativeUrl">
                @Html.Raw(productImageTag)
                <div class="hover-icon"></div>
            </a>
        </div>
        <a href="@product.DetailPageRelativeUrl">
            <section class="item-description">

                <span>
                    @product.Name
            </span>
            <h5>@categoryName</h5>
        </section>
    </a>
</figure>
</div>
