﻿@model EImece.Domain.Models.DTOs.ProductDto
@using EImece.Domain.Helpers.Extensions;
@{
 var product=Model; int Width=ViewData["Width"].ToInt(0); int Height=ViewData["Height"].ToInt(0);
 var imageUrl=Url.Action("Index","Images",new{id=string.Format("{0}.jpg",product.MainImageId ?? 0),imageSize=string.Format("w{0}h{1}",Width,Height)});
}
<div class="four shop columns"><figure class="product"><div class="mediaholder"><a title="@product.Name" href="@product.DetailPageRelativeUrl"><img src="@imageUrl" alt="@product.Name"/></a></div><a title="@product.Name" href="@product.DetailPageRelativeUrl"><section><h5>@product.Name</h5><span class="product-code">@product.ProductCode</span></section></a></figure></div>