@model EImece.Domain.Entities.Product
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@{
    var productFiles = Model.ProductFiles;
    var product = Model;
    var categoryName = product.ProductCategory.Name;
    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
    int Width = ViewData["Width"].ToInt(0);
    int Height = ViewData["Height"].ToInt(0);
    var imageTag = product.GetCroppedImageTag(Width, Height);
    var productLink = product.DetailPageAbsoluteUrl;
    var shortDesc = GeneralHelper.GetDescriptionWithBody(product.ShortDescription,100);
}

<!-- Product-->
<div class="col-lg-3 col-sm-4 col-6 border border-collapse">
    <div class="product-card">
        <div class="product-thumb">
            <a class="product-thumb-link" href="@productLink"></a>
            @Html.Raw(imageTag)
        </div>
        <div class="product-card-body">
            <div class="d-flex flex-wrap justify-content-between pb-1">
                <a class="product-meta" href="#">@product.ProductCategory.Name</a>
                @if (product.Rating > 0)
                {
                <div class="star-rating">
                    @for (int i = 0; i < product.Rating; i++)
                        {
                    <i class="sr-star active" data-feather="star"></i>
                        }
                </div>
                }
            </div>
            <h3 class="product-card-title"><a href="@productLink">@product.Name</a></h3><span class="text-primary">@product.PriceWithDiscount.CurrencySign()</span>
        </div>
        <div class="product-card-body body-hidden pt-2">
            <button class="btn btn-primary btn-sm btn-block" data-add-prodoct-cart="@Model.Id" type="button"
                    data-toggle="toast" data-target="#cart-toast">
                @Resource.AddToCart
            </button>
            <ul class="font-size-sm opacity-80 pl-4 pt-2 mb-2">
                <li>@product.ProductCategory.Name</li>
            </ul>
        </div>
    </div>
</div>