@model EImece.Domain.Entities.Story
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;

@{
    var story = Model;
    var categoryName = story.StoryCategory.Name;
    var tags = story.StoryTags.Select(r1 => r1.Tag).Distinct().ToList();
    int Width = ViewData["Width"].ToInt(0);
    int Height = ViewData["Height"].ToInt(0);
    var storyImageTag = story.GetCroppedImageTag(Width, Height);
}

<article class="card mb-4 shadow-sm border-0">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="@story.DetailPageUrl" class="d-block">
                @Html.Raw(storyImageTag)
            </a>
            <div class="position-absolute text-center bg-dark text-white rounded px-2 py-1" style="top: 10px; left: 10px;">
                <div class="h5 mb-0">@story.CreatedDate.Day</div>
                <small class="text-uppercase">@story.CreatedDate.ToString("MMM")</small>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="@story.DetailPageUrl" class="text-dark">@story.Name</a>
                </h5>

                @if (tags.Any())
                {
                    <p class="mb-2">
                        <i class="fa fa-tag text-muted mr-1"></i>
                        @for (int i = 0; i < tags.Count; i++)
                        {
                            var tag = tags[i];
                            <a href="#" class="badge badge-secondary mr-1">@tag.Name</a>
                        }
                    </p>
                }

                <p class="card-text">@story.GetSeoDescription(300)</p>

                <a href="@story.DetailPageUrl" class="btn btn-primary btn-sm mt-2">@Resource.ReadMore</a>
            </div>
        </div>
    </div>
</article>
