@model EImece.Domain.Entities.BrowserSubscription

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BrowserSubscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrowserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
