@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@model  ShoppingCartSession 

@{
    ViewBag.Title = "CheckoutPaymentOrderReview";
    var products = Model.ShoppingCartItems;
}

<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>Checkout</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li>Payment &amp; Order Review</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<div class="container">

    <div class="eight columns">


        <!-- Checkout Content -->
        <a href="@Url.Action("CheckoutBillingDetails")"><div class="checkout-section"><span>1</span> Billing Details <strong><i class="fa fa-edit"></i>Edit</strong> </div></a>
        <div class="checkout-content">
            @Html.Partial("ShoppingCartTemplates/_AddressReview", Model)
        </div>


        <a href="@Url.Action("CheckoutDelivery")"><div class="checkout-section"><span>2</span> Delivery <strong><i class="fa fa-edit"></i>Edit</strong> </div></a>
        <div class="checkout-delivery">

            <div class="eight columns alpha omega">
                <ul class="address-review delivery">
                    <li><strong>Express Delivery <span class="delivery-summary">$14.99 <span class="sep">|</span> Delivery in 1 to 2 Business Days</span></strong></li>
                </ul>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>

        <div class="checkout-section active"><span>3</span> Payment &amp; Order Review</div>
        <div class="checkout-summary">
            <div class="eight columns alpha omega">
                <ul class="address-review summary">
                    <li><strong>Credit Card</strong></li>
                    <li>
                        <ul class="payment-icons checkout">
                            <li><img src="images/visa.png" alt=""></li>
                            <li><img src="images/mastercard.png" alt=""></li>
                            <li><img src="images/skrill.png" alt=""></li>
                            <li><img src="images/moneybookers.png" alt=""></li>
                            <li><img src="images/paypal.png" alt=""></li>
                        </ul>
                        <div class="clearfix"></div>
                    </li>
                    <li class="credit-card-fields">
                        <span><label>Credit Card Number:</label><input type="text" value=""></span>

                        <span>
                            <label>Month:</label>
                            <select>
                                <option value="">01</option>
                                <option value="">02</option>
                                <option value="">03</option>
                                <option value="">04</option>
                                <option value="">05</option>
                                <option value="">06</option>
                                <option value="">07</option>
                                <option value="">08</option>
                                <option value="">09</option>
                                <option value="">10</option>
                                <option value="">11</option>
                                <option value="">12</option>
                            </select>
                        </span>

                        <span>
                            <label>Year:</label>
                            <select>
                                <option value="">2014</option>
                                <option value="">2015</option>
                                <option value="">2016</option>
                                <option value="">2017</option>
                                <option value="">2018</option>
                            </select>
                        </span>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>

        <a href="@Url.Action("PlaceOrder")" class="continue button color">Place Order</a>

    </div>
    <!-- Checkout Content / End -->
    <!-- Checkout Cart -->
    <div class="eight columns">
        @Html.Partial("ShoppingCartTemplates/_ShoppingCartProducts", Model)
    </div>
    <!-- Checkout Cart / End -->


</div>