@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@model  ShoppingCartSession

@{
    ViewBag.Title = "CheckoutDelivery";
    var products = Model.ShoppingCartItems;
}

<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>Checkout</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li>Delivery</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<div class="container">

    <div class="eight columns">


        <!-- Checkout Content -->
        <a href="@Url.Action("CheckoutBillingDetails")"><div class="checkout-section"><span>1</span> Billing Details <strong><i class="fa fa-edit"></i>Edit</strong> </div></a>
        <div class="checkout-content">
            @Html.Partial("ShoppingCartTemplates/_AddressReview", Model)
        </div>


        <div class="checkout-section active"><span>2</span> Delivery</div>
        <div class="checkout-delivery active">

            <ul class="delivery-options">
                <li><strong>Choose delivery option below</strong></li>
                <li>
                    <form action="#">
                        <div class="delivery-option">
                            <input id="shipping-address" type="radio" name="shipping-address" value="1">
                            <label for="shipping-address" class="checkbox">Standard Delivery <span>$9.99 <abbr class="sep">|</abbr> Delivery in 3 to 5 Business Days</span></label>
                        </div>

                        <div class="delivery-option">
                            <input id="shipping-address-2" type="radio" name="shipping-address" value="1">
                            <label for="shipping-address-2" class="checkbox">Express Delivery <span>$14.99 <span class="sep">|</span> Delivery in 1 to 2 Business Days</span></label>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </li>
            </ul>

        </div>
        <div class="clearfix"></div>
        <a href="@Url.Action("CheckoutPaymentOrderReview")" class="continue button color">Continue</a>

        <a href="@Url.Action("CheckoutPaymentOrderReview")"><div class="checkout-section"><span>3</span> Payment &amp; Order Review</div></a>

    </div>
    <!-- CHeckout Content / End -->
    <!-- Checkout Cart -->
    <div class="eight columns">
        @Html.Partial("ShoppingCartTemplates/_ShoppingCartProducts", Model)
    </div>
    <!-- Checkout Cart / End -->


</div>


@section Scripts{
    

    <script>


        $(document).ready(function () {
 
        });
    </script>
}