@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers.HtmlHelpers;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain.Helpers;
@using EImece.Domain;
@using Resources;
@model  ShoppingCartSession

@{
    ViewBag.Title = "CheckoutBillingDetails";
    var products = Model.ShoppingCartItems;
    var customer = Model.Customer;
}
 

<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>Checkout</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li>Billing Details</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<div class="container">

    <div class="eight columns">

        <!-- Billing Details Content -->
        <div class="checkout-section active"><span>1</span> Billing Details</div>



        @using (Html.BeginForm("SaveCustomer","Payment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="checkout-content">
                @Html.AntiForgeryToken()
                <div class="half first"><label>First Name: <abbr>*</abbr></label><input type="text" placeholder="" name="Name" value="@customer.Name"></div>
                <div class="half"><label>Last Name: <abbr>*</abbr></label><input type="text" placeholder="" name="Surname"  value="@customer.Surname"></div>
                <div class="half first"><label>Email Adress: <abbr>*</abbr></label><input type="text" placeholder="" name="Email"  value="@customer.Email"></div>
                <div class="half"><label>Phone: <abbr>*</abbr></label><input type="text" placeholder=""  name="GsmNumber"  value="@customer.GsmNumber"></div>
                <div class="fullwidth"><label>Il:  <abbr>*</abbr></label><span id="iller"></span></div>
                <div class="fullwidth"><label>Ilce:  <abbr>*</abbr></label><span id="ilceler"></span></div>
                <div class="half first"><label>Postcode / Zip:<abbr>*</abbr></label><input type="text" placeholder=""  name="ZipCode"  value="@customer.ZipCode"></div>
                <div class="fullwidth">  <label>Street Address: <abbr>*</abbr></label>   <textarea   cols="40" rows="3"  name="RegistrationAddress"  id="comment">@customer.RegistrationAddress</textarea></div>


                <div class="clearfix"></div>



                <span class="shippping-checkbox">
                    <input class="input-checkbox" id="shipping-address" type="checkbox" name="shipping-address" checked="checked" value="1">
                    <label for="shipping-address" class="checkbox">Billing address is same as shipping address</label>
                </span>
                <div class="clearfix"></div>


            </div>
            <div class="clearfix"></div>
            <input type="submit" name="saveButton" value="Continue"  class="continue button color"/>
        }

        <a href="@Url.Action("CheckoutDelivery")"><div class="checkout-section"><span>2</span> Delivery</div></a>
        <a href="checkout-payment-order-review.html"><div class="checkout-section"><span>3</span> Payment &amp; Order Review</div></a>
    </div>
    <!-- Billing Details / Enc -->
    <!-- Checkout Cart -->
    <div class="eight columns">
        <div class="checkout-section cart">Shopping Cart</div>
        <!-- Cart -->
        <table class="stacktable small-only"><tbody><tr class="st-space"><td></td><td></td></tr><tr class="st-new-item"><td class="st-key"></td><td class="st-val st-head-row"><img src="images/small_product_list_08.jpg" alt=""></td></tr><tr><td class="st-key"></td><td class="st-val"><a href="#">Converse All Star Trainers</a></td></tr><tr><td class="st-key">Price</td><td class="st-val">$79.00</td></tr><tr><td class="st-key">Qty</td><td class="st-val">1</td></tr><tr><td class="st-key">Total</td><td class="st-val">$79.00</td></tr><tr class="st-space"><td></td><td></td></tr><tr class="st-new-item"><td class="st-key"></td><td class="st-val st-head-row"><img src="images/small_product_list_09.jpg" alt=""></td></tr><tr><td class="st-key"></td><td class="st-val"><a href="#">Wool Two-Piece Suit</a></td></tr><tr><td class="st-key">Price</td><td class="st-val">$99.00</td></tr><tr><td class="st-key">Qty</td><td class="st-val">1</td></tr><tr><td class="st-key">Total</td><td class="st-val">$99.00</td></tr></tbody></table><table class="checkout cart-table responsive-table stacktable large-only">

            <tbody>
                <tr>
                    <th class="hide-on-mobile">Item</th>
                    <th></th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>

                <!-- Item #1 -->
                <tr>
                    <td class="hide-on-mobile"><img src="images/small_product_list_08.jpg" alt=""></td>
                    <td class="cart-title"><a href="#">Converse All Star Trainers</a></td>
                    <td>$79.00</td>
                    <td class="qty-checkout">1</td>
                    <td class="cart-total">$79.00</td>
                </tr>

                <!-- Item #2 -->
                <tr>
                    <td class="hide-on-mobile"><img src="images/small_product_list_09.jpg" alt=""></td>
                    <td class="cart-title"><a href="#">Wool Two-Piece Suit</a></td>
                    <td>$99.00</td>
                    <td class="qty-checkout">1</td>
                    <td class="cart-total">$99.00</td>
                </tr>

            </tbody>
        </table>

        <!-- Apply Coupon Code / Buttons -->
        <table class="cart-table bottom">

            <tbody>
                <tr>
                    <th class="checkout-totals">
                        <div class="checkout-subtotal">
                            Subtotal: <span>$178.00</span>
                        </div>
                    </th>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- Checkout Cart / End -->


</div>


@section Scripts{
    <script id="optionHtml" type="text/template">
        <select id="il_select">
            {{ #items}}
            <option value="{{id}}">
                {{name}}
            </option>
            {{/items}}
        </select>
    </script>

    <script>


        $(document).ready(function () {

            GetIller();
            function GetIller() {
                var postData = JSON.stringify({});
                console.log(postData);
                ajaxMethodCall(postData, "/Ajax/GetIller", function (data) {
                    var p = $('#optionHtml').html();
                    $("#iller").html(Mustache.render(p, data));
                    $("#il_select").on('change', function () {
                        GetIlceler(this.value);
                    });
                    var il_id = $("#il_select").val();
                    if (il_id === null) {
                        il_id = 1;
                    }
                    GetIlceler(il_id);
                });

                function GetIlceler(il_id) {
                    var postData = JSON.stringify({ il_id: il_id });
                    console.log(postData);
                    ajaxMethodCall(postData, "/Ajax/GetIlceler", function (data) {
                        var p = $('#optionHtml').html();
                        $("#ilceler").html(Mustache.render(p, data))
                    });
                }
            }
        });
    </script>
}