@model EImece.Models.ChangePasswordViewModel
@using Resources;
@{
    ViewBag.Title = AdminResource.ChangePassword;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var currenctUser = (EImece.Domain.Services.ApplicationUser)ViewBag.CurrentUser;
}

<h2>@AdminResource.ChangePassword</h2>
<hr class="adminLine" />

@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label" for="AdminUserName">@AdminResource.Email</label>
        <div class="col-md-10">
            <label class="control-label" for="UserName"> @currenctUser.Email</label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <span class="label label-danger text-uppercase">
                @AdminResource.PasswordInfoMessage
            </span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@AdminResource.ChangePassword" class="btn btn-success btn-block" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}