@model EImece.Models.EditUserViewModel
@using Resources;
@{
    ViewBag.Title = "GenerateNewPassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@AdminResource.Users</h2>
<hr class="adminLine" />
    <h4>@AdminResource.GenerateNewPasswordforUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @AdminResource.NewPassword
        </dt>

        <dd>
            @ViewBag.NewPassword
        </dd>
    </dl>