@using EImece.Domain.Entities;
@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using EImece.Domain.Helpers
@using Resources;
@model MainPageViewModel
@{

    var mainPageImages = Model.MainPageImages;
    var mainPageProducts = Model.MainPageProducts;
    var mainPageProductCategories = Model.MainPageProductCategories.Where(r=>r.ParentId == 0).ToList();

    var mainPageStories = Model.StoryIndexViewModel.Stories;
    var campaignProducts = Model.CampaignProducts;
    var latestProducts = Model.LatestProducts;
    var latestStories = Model.LatestStories;

    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
}

<!-- Slider
================================================== -->
<div class="container fullwidth-element home-slider">
    @if (isUserAuthenticated)
    {
        @Html.ActionLink(Resource.AdminEdit, "index", "mainpageimages", new { @area = "admin" }, new { })
    }
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                @for (int i = 0; i < mainPageImages.Count; i++)
                {
                    var mainPageImage = mainPageImages[i];
                    @Html.DisplayFor(model => mainPageImage, "MainPageImage", new { index = i })
                }
            </ul>
        </div>
    </div>
</div>

<div class="container">

    @for (int i = 0; i < mainPageProductCategories.Count; i++)
    {
        var mainPageProductCategory = mainPageProductCategories[i];
        @Html.DisplayFor(model => mainPageProductCategory, "MainPageProductCategory")
    }
</div>

@if (Model.MainPageMenu != null)
{

    <div class="parallax-banner fullwidth-element" data-background="#000" data-opacity="0.45" data-height="200" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 0.66s ease-in-out 1s,  opacity 0.66s ease-in-out 1s;transition: transform 0.66s ease-in-out 1s, opacity 0.66s ease-in-out 1s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;">
        @Html.Raw(Model.MainPageMenu.GetImageTag())
        <div class="parallax-overlay" style="background-color: rgb(0, 0, 0); opacity: 0.45;"></div>
        <div class="parallax-title" style="top: 68.5px;">@Model.MainPageMenu.Name <span>@Model.MainPageMenu.MetaKeywords</span></div>
    </div>

}

<div class="container margin-bottom-25">

@if (mainPageProducts != null && mainPageProducts.Any())
{
    <div class="one-third column">

        <!-- Headline -->
        <h3 class="headline">VİTRİN ÜRÜNLERİ</h3>
        <span class="line margin-bottom-0"></span>
        <div class="clearfix"></div>

        <ul class="product-list">

            @for (int i = 0; i < mainPageProducts.Count; i++)
            {
                var p = mainPageProducts[i];
                @Html.DisplayFor(model => p, "MainPageProductShort",new { Width=80, Height=80 })
            }

            <li>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>

}

    @if(campaignProducts!=null && campaignProducts.Any())
    {

    <div class="one-third column">

        <!-- Headline -->
        <h3 class="headline">KAMPANYALI ÜRÜNLER</h3>
        <span class="line margin-bottom-0"></span>
        <div class="clearfix"></div>

        <ul class="product-list">

            @for (int i = 0; i < campaignProducts.Count; i++)
            {
                var p = campaignProducts[i];
                @Html.DisplayFor(model => p, "MainPageProductShort", new { Width = 80, Height = 80 })

            }

            <li>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>

    }

    @if(latestProducts!=null && latestProducts.Any())
    {
    <div class="one-third column">
        <!-- Headline -->
        <h3 class="headline">YENİ ÜRÜNLER</h3>
        <span class="line margin-bottom-0"></span>
        <div class="clearfix"></div>
        <ul class="product-list">

            @for (int i = 0; i < latestProducts.Count; i++)
            {
                var p = latestProducts[i];
                @Html.DisplayFor(model => p, "MainPageProductShort", new { Width = 80, Height = 80 })

            }

            <li>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
    }
</div>

@if (latestStories.Count > 0)
{
    var p = latestStories.OrderBy(r => r.Position).ToList();
    <div class="container">
        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline">
                Blog
            </h3>
            <span class="line margin-bottom-30"></span>
        </div>
        @for (int i = 0; i < p.Count; i++)
        {
            var story = p[i];
            @Html.DisplayFor(model => story, "LatestStory")
        }
    </div>

}

<div class="clearfix"></div>