@using EImece.Domain.Entities;
@using EImece.Domain.Models.FrontModels;
@model MainPageViewModel
@using EImece.Domain;
@{

    var mainPageImages = Model.MainPageImages;
    var mainPageProducts = Model.MainPageProducts;
    var mainPageProductCategories = Model.MainPageProductCategories;

    var mainPageStories = Model.StoryIndexViewModel.Stories;

    var latestStories = Model.LatestStories;

    var isUserAuthenticated = User.Identity.IsAuthenticated && Settings.IsEditLinkEnable;
}

<!-- Slider
================================================== -->
<div class="container fullwidth-element home-slider">
    @if (isUserAuthenticated)
    {
        @Html.ActionLink("edit", "index", "mainpageimages", new { @area = "admin" }, new { })
    }
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                @for (int i = 0; i < mainPageImages.Count; i++)
                {
                    var mainPageImage = mainPageImages[i];
                    @Html.DisplayFor(model => mainPageImage, "MainPageImage", new { index = i })
                }

            </ul>
        </div>
    </div>
</div>


<div class="container">

    @for (int i = 0; i < mainPageProductCategories.Count; i++)
    {
        var mainPageProductCategory = mainPageProductCategories[i];
        @Html.DisplayFor(model => mainPageProductCategory, "MainPageProductCategory")
    }



</div>


@if (mainPageProducts.Count > 0)
{
    <div class="container">

        @for (int i = 0; i < mainPageProducts.Count; i++)
        {
            var mainPageProduct = mainPageProducts[i];
            @Html.DisplayFor(model => mainPageProduct, "MainPageProduct")
        }

    </div>
}

@if (latestStories.Count > 0)
{
    <div class="container">
        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline">Latest Articles</h3>
            <span class="line margin-bottom-30"></span>
        </div>
        @for (int i = 0; i < latestStories.Count; i++)
        {
            var story = latestStories[i];
            @Html.DisplayFor(model => story, "LatestStory")
        }

    </div>

}


<div class="clearfix"></div>
