@using EImece.Domain.Entities;
@using EImece.Domain.Models.FrontModels;
@using EImece.Domain.Helpers.Extensions;
@using EImece.Domain;
@using EImece.Domain.Helpers
@using Resources;
@model MainPageViewModel
@{

    var mainPageImages = Model.MainPageImages;
    var mainPageProducts = Model.MainPageProducts;
    var mainPageProductCategories = Model.MainPageProductCategories.Where(r => r.ParentId == 0).ToList();

    var mainPageStories = Model.StoryIndexViewModel.Stories;
    var campaignProducts = Model.CampaignProducts;
    var latestProducts = Model.LatestProducts;
    var latestStories = Model.LatestStories;

    var isUserAuthenticated = User.Identity.IsAuthenticated && AppConfig.IsEditLinkEnable;
}

<!-- Page Title-->
<div class="page-title-wrapper" aria-label="Page title">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="mt-n1 mr-1"><i data-feather="home"></i></li>
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Shop</a>
                </li>
            </ol>
        </nav>
        <h1 class="page-title">Categories</h1><span class="d-block mt-2 text-muted"></span>
        <hr class="mt-4">
    </div>
</div>
<!-- Page Content-->
<div class="container pb-5 mb-sm-2">
    <!-- Categories grid-->
    <div class="row no-gutters">

        @for (int i = 0; i < mainPageProductCategories.Count; i++)
        {
            var mainPageProductCategory = mainPageProductCategories[i];
            @CreateMainPageCategory(mainPageProductCategory, Model.MainPageProductCategories)
        }
    </div>
</div>

@if (Model.MainPageMenu != null)
{

    <div class="parallax-banner fullwidth-element" data-background="#000" data-opacity="0.45" data-height="200" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 0.66s ease-in-out 1s,  opacity 0.66s ease-in-out 1s;transition: transform 0.66s ease-in-out 1s, opacity 0.66s ease-in-out 1s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;">
        @Html.Raw(Model.MainPageMenu.GetImageTag())
        <div class="parallax-overlay" style="background-color: rgb(0, 0, 0); opacity: 0.45;"></div>
        <div class="parallax-title" style="top: 68.5px;">@Model.MainPageMenu.Name <span>@Model.MainPageMenu.MetaKeywords</span></div>
    </div>

}

@if (latestStories.Count > 0)
{
    var p = latestStories.OrderBy(r => r.Position).ToList();
    <div class="container">
        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline">
                Blog
            </h3>
            <span class="line margin-bottom-30"></span>
        </div>
        @for (int i = 0; i < p.Count; i++)
        {
            var story = p[i];
            @Html.DisplayFor(model => story, "LatestStory")
        }
    </div>

}

<!-- Featured products grid-->
<section class="container px-3 pt-4 mt-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center pb-2">
        <h2 class="h3 mb-3">Featured products</h2><a class="btn btn-outline-primary btn-sm border-0 mb-3" href="shop-style2-ls.html">More products<i class="ml-1 mr-n2" data-feather="chevron-right"></i></a>
    </div>
    <div class="row no-gutters">
        @for (int i = 0; i < mainPageProducts.Count; i++)
        {
            var p = mainPageProducts[i];
            @Html.DisplayFor(model => p, "FeaturedProductItem", new { Width = 305, Height = 305 })
        }
    </div>
</section>

<!-- Product widgets-->
<section class="container px-3 pt-2 pb-4 mb-md-2">
    <div class="row">
        @CreateProductWidget(Resource.ShowcaseProducts, mainPageProducts)
        @CreateProductWidget(Resource.CampaignProducts, campaignProducts)
        @CreateProductWidget(Resource.NewProducts, latestProducts)
    </div>
</section>

@helper  CreateProductWidget(String title, List<Product> products)
{
    if (products.IsNotEmpty())
    {
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget widget-featured-entries">
                <h3 class="widget-title font-size-lg">@title</h3>

                @for (int i = 0; i < products.Count; i++)
                {
                    var p = products[i];
                    @Html.DisplayFor(model => p, "MainPageProductShort", new { Width = 80, Height = 80 })
                }
            </div>
        </div>
    }
}

@helper CreateMainPageCategory(ProductCategory productCategory, List<ProductCategory> productCategories)
{
    var children = productCategories.Where(r => r.ParentId == productCategory.Id).ToList();
    var productImgLink = productCategory.GetCroppedImageUrl(productCategory.MainImageId, 300, 0);
    var productCategoryLink = productCategory.ProductCategoryLink;

    <!-- Category-->
    <div class="col-lg-3 col-sm-4 col-6 category-card border border-collapse">
        <div class="card border-0">
            @if (!string.IsNullOrEmpty(productImgLink))
            {
            <a class="d-block" href="@productCategoryLink">
                <img class="d-block" src="@productImgLink" alt="@productCategory.Name">
            </a>
            }
           

        <div class="card-body pb-2">
            <h2 class="h6 mb-2"> <a class="d-block" href="@productCategoryLink">@productCategory.Name</a></h2>
            @if (children.IsNotEmpty())
            {
                <div class="list-group list-group-flush font-size-sm">
                    @foreach (var childProductCategory in children)
                    {
                        <a class="list-group-item list-group-item-action" href="@childProductCategory.ProductCategoryLink">
                            @childProductCategory.Name
                            <i class="ml-1" data-feather="chevron-right" style="width: .875rem; height: .875rem;"></i>
                        </a>
                    }
                </div>
            }
        </div>
        </div>
    </div>

}