@model List<Order>
@using EImece.Domain.Helpers;
@using GridMvc.Html
@using GridMvc.Sorting
@using EImece.Domain;
@using EImece.Domain.Entities;
@using Resources;
@using EImece.Domain.Helpers.Extensions;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";

    int pageSizeNumber = Request.QueryString["GridPageSize"].ToInt();
    pageSizeNumber = pageSizeNumber == 0 ? AppConfig.GridPageSizeNumber : pageSizeNumber;
    var controllerName = "Home";
    var gridName = "OrderGrid";
    var contents = Model;
    var baseList = contents.DownCasting<Order>();

    var gridImagesText = AdminResource.GridImagesText;
    var gridEditText = AdminResource.GridEditText;
    var gridDeleteText = AdminResource.GridDeleteText;
    var gridDetailText = AdminResource.GridDetailText;
    var gridMainPageImageText = AdminResource.GridMainPageImageText;

}
<h2>@AdminResource.MyOrder</h2>
<hr class="adminLine" />

@Html.Partial("pSearchForm")
<br />
@foreach (var o in contents)
{
        <div style="border:1px solid black;padding:20px;" class="orderHead orderTable">
            <div class="row">
                <div class="cell meta">
                    <p class="split"><span class="label">Sipariş Tarihi :</span> @o.CreatedDate </p>
                    <p> <span class="label">Sipariş Kodu :</span> @o.OrderGuid <span class="orderNumber">@o.OrderNumber</span> </p>
                </div>
                <div class="cell amount">
                    <p> <span class="label split">Ödenen Tutar</span> <strong>@o.Price</strong> </p>
                </div>
                <div class="cell address">
                    <span class="label split">Adres</span>
                    <div class="hTMItem hasMenu">
                        <span class="btnMenu">Tuzla</span>
                        <div class="hOpenMenu">
                            <div class="hOpenMenuContent">
                                <p>
                                    @o.ShippingAddress.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell detail"> <a class="link" href="@Url.Action("OrderDetail")">Sipariş Detayını Gör</a> </div>
            </div>
        </div>
        <div class="orderBody">
        </div>

}