@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers.Extensions;
@using Resources;
@using EImece.Domain.Models.FrontModels;
@model SendMessageToSellerViewModel

@{
    var SendButtonText = Resource.SendButtonText;
}

<!-- Page Content-->
<div class="container pt-lg-3 pb-5 mb-sm-3">
    <!-- Toast notifications-->
    <div class="toast-container toast-bottom-center">
        <div class="toast mb-3" id="profile-toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <i class="mr-2" data-feather="check-circle" style="width: 1.25rem; height: 1.25rem;"></i><span class="font-weight-semibold mr-auto">@Resource.Updated!</span>
                <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="toast-body">@Resource.YourProfileUpdatedSuccessfully</div>
        </div>
    </div>
    <div class="row pt-1">
        <!-- Main content-->
        <div class="col-lg-12">
            @Html.Partial("_CustomerDetails", Model.Customer)
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Resource.QuestionAboutItemForCustomer)
                    @if (Model.Faqs.IsNotEmpty())
                    {
                        <section class="container pt-4 pb-5 mt-3">
                            <h3 class="text-center pb-2">@Resource.FrequentlyAskedQuestions</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="accordion" id="faqAccordion">
                                        @foreach (Faq faq in Model.Faqs)
                                        {
                                            <div class="card mb-3">
                                                <div class="card-header" id="heading-@faq.Id">
                                                    <h5 class="mb-0 d-flex align-items-center">
                                                        <button class="btn btn-link text-decoration-none flex-grow-1 text-left collapsed"
                                                                type="button"
                                                                data-toggle="collapse"
                                                                data-target="#collapse-@faq.Id"
                                                                aria-expanded="false"
                                                                aria-controls="collapse-@faq.Id">
                                                            <i class="text-muted mr-2" data-feather="file-text" style="width: 1.2rem; height: 1.2rem;"></i>
                                                            @faq.Question
                                                        </button>
                                                        <span class="toggle-indicator mr-2" style="font-size: 1.5rem; line-height: 1;">
                                                            <span class="plus">+</span>
                                                            <span class="minus" style="display: none;">-</span>
                                                        </span>
                                                    </h5>
                                                </div>
                                                <div id="collapse-@faq.Id" class="collapse" aria-labelledby="heading-@faq.Id" data-parent="#faqAccordion">
                                                    <div class="card-body">
                                                        @Html.Raw(faq.Answer)
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $('.collapse').on('show.bs.collapse', function() {
                $(this).closest('.card').find('.toggle-indicator .plus').hide();
                $(this).closest('.card').find('.toggle-indicator .minus').show();
            });

            $('.collapse').on('hide.bs.collapse', function() {
                $(this).closest('.card').find('.toggle-indicator .minus').hide();
                $(this).closest('.card').find('.toggle-indicator .plus').show();
            });
        });
    </script>
}