@model EImece.Domain.Entities.Order

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingAddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coupon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Installment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Installment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraudStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraudStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantCommissionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantCommissionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantCommissionRateAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantCommissionRateAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IyziCommissionRateAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IyziCommissionRateAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IyziCommissionFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IyziCommissionFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardAssociation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardAssociation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardUserKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardUserKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastFourDigits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastFourDigits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasketId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConversationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
