@model EImece.Domain.Models.FrontModels.ContactUsFormViewModel
@using EImece.Domain.Entities;
@using EImece.Domain.Helpers;
@using EImece.Domain.Models.Enums;
@using EImece.Domain.Helpers.Extensions;
@using Resources;
@{
    var SendButtonText = Resource.SendButtonText;
}


<!-- Page Content-->
<div class="container pt-lg-3 pb-5 mb-sm-3">
    <!-- Toast notifications-->
    <div class="toast-container toast-bottom-center">
        <div class="toast mb-3" id="profile-toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <i class="mr-2" data-feather="check-circle" style="width: 1.25rem; height: 1.25rem;"></i><span class="font-weight-semibold mr-auto">Updated!</span>
                <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="toast-body">@AdminResource.YourProfileUpdatedSuccessfully</div>
        </div>
    </div>
    <div class="row pt-5">
        <!-- Main content-->
        <!-- Main content-->
        <div class="col-lg-12 offset-xl-1">
            @Html.Partial("_CustomerDetails", (Customer)ViewBag.Customer)




            <form class="header-search__content search-form" id="submit-search" action="/en/search" accept-charset="UTF-8" method="get">
                <label id="st-search-label" class="maketing-input-wrapper" for="st-search-input">
                    <span class="marketing-label marketing-label--in-field marketing-label--floating"> </span>
                    <input type="text" name="q" id="st-search-input" role="combobox" aria-autocomplete="list" aris-haspopup="true"
                           aria-expanded="false" aria-owns="st-search-results" placeholder="Sık sorulan sorular icinde Ara"
                           class="marketing-input marketing-input--floating search-field" autocomplete="off">
                    <span class="marketing-form__messages"></span>
                </label>

                <button type="submit" id="search-button" class="search-form__submit">
                    <span class="visuallyhidden">Search</span>
                </button>
            </form>

            <div class="row">
                <div class="col-md-6">

                    <section class="uvFaq typeset">
                        <p style="font-size:x-large">
                            Herhangi bir konu hakkinda soru veya istek için ürünü satan satıcıyla doğrudan iletişime geçin.
                        </p>
                        <h3>Question about an item</h3>
                        <p>
                            <font class="Apple-style-span" color="#2e2f33">
                                <span class="Apple-style-span"
                                      style="line-height: 14px;">
                                    <b>Please also contact the seller directly if you would like to:</b>
                                </span>
                            </font>
                        </p>
                        <ul>
                            <li>Ask about a particular product or it’s availability</li>
                            <li>Enquire about your order</li>
                            <li>Send a message relating to your order such as a preference for size or colour</li>
                            <li>Ask about a custom item</li>
                            <li>Organise a cancellation, return, refund or replacement</li>
                        </ul><div><span class="Apple-style-span" style="line-height: 19px;">See also:</span></div>
                        <div>
                            <span class="Apple-style-span" style="line-height: 19px;">
                                <a href="https://folksy.uservoice.com/knowledgebase/articles/67344-how-do-i-cancel-my-order-return-an-item-or-ask-fo">Siparişimi nasıl iptal edebilir, bir ürünü iade edebilir veya geri ödeme isteyebilirim?</a>
                            </span>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">

                    @using (Html.BeginForm("SendContactUs", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ContactFormType)
                        @Html.HiddenFor(model => model.ItemId)
                        @Html.HiddenFor(model => model.ItemType)
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "alert alert-success" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Reasons, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Reasons)
                                    @Html.ValidationMessageFor(model => model.Reasons, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.OrderGuid, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.OrderGuid, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OrderGuid, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Message, new { @rows = "5", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        @Html.LabelFor(model => model.Captcha)
                                    </div>
                                    <div class="col-md-2">
                                        <img rel="nofollow"
                                             src="@Url.Action("GetCaptcha", "Images", new { area="", prefix = "ContactUsLogin" })" alt="Captcha" />
                                        <br />
                                    </div>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Captcha, new { @class = "form-control", @autocomplete = "false" })
                                        @Html.ValidationMessageFor(model => model.Captcha)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@SendButtonText" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

 
