@model IEnumerable<EImece.Domain.Entities.ProductCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MainImage.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Template.TemplateXml)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPercantage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MainImage.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Template.TemplateXml)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountPercantage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaKeywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
